    <div ng-controller="menu-controller" class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul id="navigation" class="nav navbar-nav navbar-right">
            <li ng-show="page == 'home'" class="active"><a href="#header" class="current">Home</a></li>
            <li ng-show="page == 'home'"><a href="#features">Agenda</a></li>
            <li ng-show="page == 'home'"><a href="#team">Organizaciones</a></li>
            <li ng-show="page == 'home'"><a class="external" ng-href="/info/enred">La Red</a></li>
            <li ng-show="page != 'home'"><a class="external" href="#header" class="current">Home</a></li>
        </ul>
    </div>

