<!DOCTYPE html>
    <!--[if lt IE 7]>      <html lang="es" ng-app="coperableApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html lang="es" ng-app="coperableApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html lang="es" ng-app="coperableApp" class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html lang="es" ng-app="coperableApp" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{layoutTitle}}</title>
        <link href="/static/sites/coperable/assets/css/template.css" rel="stylesheet">
<!--
        <link rel='stylesheet/less' href='/static/sites/coperable/assets/less/template.less' />
-->
        <link href="/static/bower_components/datedropper/datedropper.css" rel="stylesheet">
        <link href="/static/bower_components/jt.timepicker/jquery.timepicker.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/static/bower_components/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
        <link rel='stylesheet' href="/static/bower_components/angular-socialshare/angular-socialshare.min.css">

<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
-->


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true'></script>
        <script src="http://platform.twitter.com/widgets.js"></script>


        <base href="/">
    </head>

    <body ng-controller="Ctrl">
        <script> window.fbAsyncInit = function() { FB.init({ appId      : '368346063364540', xfbml      : true, version    : 'v2.3' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); </script>
        
        <div id="page">
            <header id="header" class="site-header">
                
                <nav id="topbar" class="site-topbar visible-lg visible-md">
                    <div class="container">
                        <div class="row">
                            <div class="pull-right social-links col-sm-6">
                            {{^user}}
                                <a href="/user/login" target="_self"><span><b>Ingres&aacute;</b> </span></a>
                                <a href="/auth/facebook" target="_self"><i class="fa fa-facebook"></i></a>
                                <span>|</span>
                                <a href="/auth/twitter" target="_self"><i class="fa fa-twitter"></i></a>
                            {{/user}}
                            {{#user}}
                                <a href="/user/{{user.id}}" target="_self" >{{user.username}}</a>
                                <a href="/user/logout" target="_self">Salir</a>
                            {{/user}}
                            </div>

                        </div>
                    </div>
                    
                    <div class="container container-intro" ng-show="page == 'home'">
                    		<table>
                     		<tr>
                     			<td class="td-logo"><img src="/static/sites/coperable/images/coperable-logoPrincipal.png" alt="" width="130px"></td>
                     			<td class="td-titulo"><h1>COPERABLE</h1></td>
                     			<td class="td-descripcion">
                     				<h3>MAPA Y AGENDA COLABORATIVA</h3>
                     				<p>Donde compartir iniciativas abiertas y participar en encuentros positivos para la comunidad.</p>
                     				<div class="main-action row">
			                            <div class=" col-md-offset-2  col-md-4 col-sm-4  col-sm-offset-2"><a ng-href="/iniciativas" class="smooth-scroll btn btn-lg btn-block btn-info">Sumate</a></div>
			                            <div class="col-md-4 col-sm-4">
			                                <a  ng-show="is_logged()" ng-href="/iniciativas/edit" class="smooth-scroll btn btn-lg btn-block btn-default">Organizá</a>
			                                <a  ng-show="!is_logged()" href="/user/login" target="_self" class="smooth-scroll btn btn-lg btn-block btn-default">Organizá</a>
			                            </div>
			                        </div>
                     			</td>
                     		</tr>
                     	</table>
                    </div>
                    
                </nav>

                <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
                    <div class="container container-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>
                            <h1 class="navbar-brand">
                                <a href="index.html/#home">
                                    <img src="/static/sites/coperable/images/coperable-icon-navBar.png" height="100px" /> 
                                </a>
                            </h1>
                        </div>

                        <div data-ng-controller="menu-controller" class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul id="navigation" class="nav navbar-nav navbar-right">
                                <li ng-show="showInPage('home')" class="active"><a href="#header" class="current">INICIO</a></li>                                
                                <li ng-show="showInPage('home')"><a href="#map_home">MAPA</a></li>
                                <li ng-show="showInPage('home')"><a href="#features">AGENDA</a></li>
                                <li ng-show="showInPage('home')"><a href="#team">ORGANIZACIONES</a></li>
                                <li ng-show="showInPage('home')"><a class="external" ng-href="/comunidades">COMUNIDADES</a></li>
                                <li ng-show="!showInPage('home')"><a class="external" ng-href="/home" class="current">HOME</a></li>
                                <li ng-show="showInPage('user-view')"><a href="#owned-iniciativas" class="current">ACTIVIDADES</a></li>
                                <li ng-show="showInPage('user-view')"><a href="#map_owned" class="current">MAPA</a></li>
                            </ul>
                        </div>

                        <!--div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul id="navigation" class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#header" class="current">Home</a></li>
                                <li><a href="#features">Agenda</a></li>
                                <li><a href="#team">Organizaciones</a></li>
                                <li><a ng-href="/info/enred" class="external">La Red</a></li>
                            </ul>
                        </div-->
                    </div>
                </nav>
            </header>

            <main id="main" class="site-main" ng-view>

       
            </main>

      <footer id="footer" class="site-footer">
        <div class="container">

          <div id="sidebar-footer-1">
            <div class="row">

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Coperable</h4>
                <ul>
                    <li><a href="/site/about">Sobre Coperable</a></li>
                    <li><a href="/site/networks">Nuestra Red</a></li>
                    <li><a href="/site/practices">Buenas Practicas</a></li>
                    <li><a href="/site/open">Abierto y Colaborativo</a></li>
                </ul>

              </aside>

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Servicios</h4>
                <ul>
                    <li><a href="/site/implementation">Implementacion a medida</a></li>
                    <li><a href="/site/social_analytic">Inteligencia Social</a></li>
                    <li><a href="/site/workshops">Talleres de Mapeo Colaborativo</a></li>
                    <li><a href="/site/rse">Voluntariado Empresarial y RSE</a></li>
                </ul>

              </aside>

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Contectate</h4>
                <p><a href="https://www.facebook.com/coperable">facebook.com/coperable</a></p>
              </aside>

            </div>
          </div>

          <div class="copyright"><p>© 2015 CC Coperable <br /> Powered by: <a href="http://coperable.org">Coperable</a></p></div>
        </div>
      </footer>
    </div>

    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/main.js"></script>

    <script type="text/javascript" src="/static/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script type="text/javascript" src="/static/bower_components/jt.timepicker/jquery.timepicker.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment/locale/es.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment-timezone/moment-timezone.js"></script>


    <script src="/static/lib/fileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.iframe-transport.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.fileupload.js"></script>
    <script src="/static/javascripts/bootstrap-typeahead.min.js"></script>
    <script src="/static/javascripts/jquery.addresspicker.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/sifter/sifter.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/microplugin/src/microplugin.js"></script>
    <script type="text/javascript" src="/static/bower_components/selectize/dist/js/selectize.min.js"></script>

    <script src="/static/bower_components/angular-socialshare/angular-socialshare.min.js"></script>


    <script type="text/javascript" src="/static/bower_components/datedropper/datedropper.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/main.js"></script>

    <script type="text/javascript" src="/static/sites/coperable/assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/ui-bootstrap-0.12.0.min.js"></script>

    <script type="text/javascript" src="/static/sites/coperable/services/services.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/modules/home/home.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/modules/iniciativa/iniciativa.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/modules/comunidad/comunidad.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/modules/user/user.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/modules/menu/menu.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/app.js"></script>

    <script type="text/javascript" src="/static/bower_components/modernizr/modernizr.js"></script>

    <script>
    {{#user}}
        window.user_id = '{{user.id}}';
    {{/user}}
    {{#coperable_admin}}
        window.bleeding = true;
    {{/coperable_admin}}
    {{^user}}
        window.user_id = false;
    {{/user}}


	if (window.location.hash && window.location.hash === "#_=_") {
  // If you are not using Modernizr, then the alternative is:
  //   `if (window.history && history.pushState) {`
  if (Modernizr.history) {
    window.history.pushState("", document.title, window.location.pathname);
  } else {
    var scroll = {
      top: document.body.scrollTop,
      left: document.body.scrollLeft
    };
    window.location.hash = "";
    document.body.scrollTop = scroll.top;
    document.body.scrollLeft = scroll.left;
  }
}
    </script>




  </body>
</html>

