<!DOCTYPE html>
    <!--[if lt IE 7]>      <html lang="es" ng-app="coperableApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html lang="es" ng-app="coperableApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html lang="es" ng-app="coperableApp" class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html lang="es" ng-app="coperableApp" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{layoutTitle}}</title>
        <link href="/static/sites/coperable/assets/css/template.css" rel="stylesheet">
<!--
        <link rel='stylesheet/less' href='/static/sites/coperable/assets/less/template.less' />
-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel='stylesheet' href="/static/bower_components/angular-socialshare/angular-socialshare.min.css">
   
<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
-->


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <base href="/">
    </head>

    <body>

   <main class="cd-main-content">
        <div id="page">
        		
            <header id="header" class="site-header">
                
                <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
                    <div class="container container-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>
                            <h1 class="navbar-brand">
                                <a href="index.html">
                                    <img src="/static/sites/coperable/images/coperable-icon-navBar.png"/> 
                                </a>
                            </h1>
                        </div>

                        <div data-ng-controller="menu-controller" class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                            <ul id="navigation" class="nav navbar-nav pull-left">
                                <li><a class="external" href="/" target="_self" class="current">HOME</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </nav>
            </header>


<section class="section section-center section-cta">
    <div class="container">
        <h2 class="section-title"><span>Ingreso a la Plataforma</span></h2>
        <p style="color: red"><b>{{message}}</b></p>
        <div class="main-action row">
            <div class="col-md-12 col-sm-12" ng-show="login_form_show">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 form-login">
                        <h3>Ingresa con tus redes sociales</h3>
                        <div class="row">
                            <a href="/auth/facebook" target="_self" class="btn btn-default col-md-4 col-md-offset-1"><i class="fa fa-2x fa-facebook"></i></a>
                            <a href="/auth/twitter" target="_self" class="btn btn-primary col-md-4 col-md-offset-2"><i class="fa fa-2x fa-twitter"></i></a>
                        </div>
                        <div class="row">
                            <h3>O con tu usuario Coperable</h3>
                        </div>
                        <div class="row">
                            <form action="/user/login?returnURL=/iniciativa/edit" method="post">
                                <div class="form-group">
                                    <input name="username" type="text" class="form-control" placeholder="Nombre Usuario" required>
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control" placeholder="Password"  required>
                                </div>
                                <button type="submit" class="btn btn-default">Ingresar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 form-signup">
                        <h3>O registrate</h3>
                        <form action="/user/signup" method="post">
                            <div class="row text-center">
                                <div class="form-group">
                                    <input name="username" type="text" class="form-control" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <input name="email" type="text" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control" placeholder="Password" required >
                                </div>
                                <div class="form-group">
                                    <input name="repassword" type="password" class="form-control" placeholder="Repite Password" required >
                                </div>
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




      <footer id="footer" class="site-footer">
        <div class="container">

          <div id="sidebar-footer-1">
            <div class="row">

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Coperable</h4>
                <ul>
                    <li><a href="/site/about">Sobre Coperable</a></li>
                    <li><a href="/site/networks">Nuestra Red</a></li>
                    <li><a href="/site/practices">Buenas Practicas</a></li>
                    <li><a href="/site/open">Abierto y Colaborativo</a></li>
                </ul>

              </aside>

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Servicios</h4>
                <ul>
                    <li><a href="/site/implementation">Implementacion a medida</a></li>
                    <li><a href="/site/social_analytic">Inteligencia Social</a></li>
                    <li><a href="/site/workshops">Talleres de Mapeo Colaborativo</a></li>
                    <li><a href="/site/rse">Voluntariado Empresarial y RSE</a></li>
                </ul>

              </aside>

              <aside class="widget col-md-4 col-sm-4">
                <h4 class="widget-title">Contectate</h4>
                <p><a href="https://www.facebook.com/coperable">facebook.com/coperable</a></p>
              </aside>

            </div>
          </div>

          <div class="copyright"><p>© 2015 CC Coperable <br /> Powered by: <a href="http://coperable.org">Coperable</a></p></div>
        </div>
      </footer>
    </div>
    </main>
  

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/main.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/modernizr.js"></script>

    <script src="/static/bower_components/angular-socialshare/angular-socialshare.min.js"></script>

    <script type="text/javascript" src="/static/sites/coperable/assets/js/main.js"></script>

    <script type="text/javascript" src="/static/sites/coperable/assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript" src="/static/sites/coperable/assets/js/ui-bootstrap-0.12.0.min.js"></script>


  </body>
</html>

