<div style="min-height:400px">
    <h1>Sobre Coperable</h1>

    <h2>Visi&oacute;n</h2>
    <p>
        Creemos que el cambio positivo comienza con el encuentro cara a cara, compartiendo conocimiento a partir del trabajo colectivo e identificando los desafíos comunes. También que es necesario hacer posibles nuevas formas de comunicación y organización horizontales, haciendo uso de metodologìas, dinàmicas y herramientas apropiadas, abiertas y liberadores.
    </p>
    <img src="/static/img/institutions/07.jpg">

<br/>
    <h2>La Herramienta</h2>
    <p>
        Coperable es un espacio colaborativo para promover la participación con fines comunitarios, facilitando el encuentro local.  Buscamos crear herramientas que ayuden a los organizadores y actores de cambio a difundir sus iniciativas, entender las problemáticas comunes y conectarse con participantes.
    </p>
    <p>
        En un sitio abierto, simple y accesible donde organizadores y participantes podrán publicar y consultar información acerca de actividades sociales, culturales y ambientales que tienen lugar en su barrio, comunidad o ciudad.  El mapa permite difundir y conectar, grupos y proyectos a través de sus actividades, mostrando el dinamismo y actividad de cada micro-region.
    </p>


<br/>
    <h2>Objetivos</h2>
    <p>
        El Mapa no es el territorio, tampoco es un fin. Es solo una herramienta dentro de una estrategia mayor. Coperable busca:
    </p>
 
    <p>

<ul>
    <li>Estimular la participación como solución colectiva de problemas</li>
    <li>Visibilizar espacios e iniciativas que trabajan de forma abierta y colaborativa</li>
    <li>Ayudar a la emergencia de grupos y actores sociales activos.</li>
    <li>Generar un mapeo de experiencias que apoye la socialización de la información</li>
    <li>Incentivar al reconocimiento del territorio común como puente de creación de lazos </li>
    <li>Crear nuevas subjetividades sobre las  fronteras cartográficas</li>
    <li>Potenciar acciones positivas concretas, fomentando la colaboración a escala local.</li>
</ul>

    </p>

    <img src="/static/img/institutions/19.jpg">



</div>

