<div style="min-height:400px">
    <h1>Implementaciòn a medida </h1>
    <h2></h2>
    <p>
El Corazón tecnológico de Coperable es una plataforma flexible y escalable concebida para poder aplicarse en la resolución de diversos desafíos sociales y organizaciones, orientados tanto a ONG como a instituciones, movimientos sociales o empresas con foco en el trabajo  territorial, iniciativas participativas y metodologías de trabajo en red.
    </p>
    <p>
El Corazón tecnológico de Coperable es una plataforma flexible y escalable concebida para poder aplicarse en la resolución de diversos desafíos sociales y organizaciones, orientados tanto a ONG como a instituciones, movimientos sociales o empresas con foco en el trabajo  territorial, iniciativas participativas y metodologías de trabajo en red.
La herramienta fue diseñada en base a nuestra experiencia como voluntarios y gestores de proyectos sociales, aplicado metodologías de innovación social y con un trabajo a las organizaciones, que la ponen a prueba diariamente con su uso. Gracias a sus comentarios y la detección de necesidades  oportunidades, la herramienta mejora día a día.
    </p>
    <p>
Por medio del servicio de implementaciones a medida, ofrecemos la posibilidad de adaptarla a las necesidades específicas de una organización. Nuestro enfoque incluye relevamiento, trabajando en conjunto con la organización, capacitación y soporte constante.
    </p>
    <p>
Si tu organización necesita visibilizar sus iniciativas, generar una comunidad propia mejorando la convocatoria de participantes, contactate con nosotros: <a href="mailto:hola@coperable.org">hola@coperable.org</a>
    </p>

</div>

