<div style="min-height:400px">
    <h1>Nuestra Red</h1>

<h2>Redes, Ecosistemas, Colaboración, Interconección, Cooperación y Alianzas.</h2>
 
<p>
Estos son nuestros valores a la hora trabajar con otras organizaciones.

</p>
<p>
Coperable es parte de un ecosistema innovador, con base en buenos aires e interconectado con redes de toda América Latina. Gracias a la colaboración y el apoyo de las personas que conforman estas organizaciones, aprendemos, crecemos y podemos llevar el proyecto a nuevos horizontes.
</p>

<h2>La Papa, Minka, Minami, IDLES, Hivos, Talartes, FCA, Slam, Wingu</h2>

    <img src="/static/img/institutions/13.jpg">
