<div style="min-height:400px">
    <h1>Abierto y Colaborativo</h1>

    <p>
    El proyecto nació como trabajo colaborativo en el hackaton Desarrollando America Latina 2012. Desde sus cimiento es un desarrollo es Open Source y Open Data.
    </p>
    <p>
    Su organización y desarrollo es abierto, horizontal y colaborativo. Es el fruto del trabajo voluntario de un grupo interdisciplinario y de el aporte generoso de información, experiencias y prácticas de organizaciones como ILDES, Minka, Wingu entre otras.
    </p>
    <img src="/static/img/institutions/12.gif">
    <p>
    API para compartir datos: <a href="http://www.coperable.com.ar/development/" target="blank">http://www.coperable.com.ar/development</a>
    Repositorio de código abierta: <a href="https://github.com/aito0077/coperable" target="blank">https://github.com/aito0077/coperable</a> 
    </p>
    <p>
    Hasta nuestro modelo de negocios es abierto.
    <a href="https://docs.google.com/spreadsheets/d/137_71Htiq1VU_2rvufJM0ph_DAWeZmPEgPpJZJfdfCM/edit?usp=drive_web" target="_blank">
        https://docs.google.com/spreadsheets/d/137_71Htiq1VU_2rvufJM0ph_DAWeZmPEgPpJZJfdfCM/edit?usp=drive_web
    </a>
    </p>

    <img src="/static/img/institutions/IMG_0889.jpg">
    <p>
    Encuentro de colaboradores, Septiembre 2014
    </p>


</div>
