<div style="min-height:400px">
    <h1>Buenas Prácticas</h1>
    <h2>Normas de convivencias y respeto por la comunidad</h2>

<p>
Coperable es un espacio abierto para la cooperación y la colaboración entre personas.
</p>

<p>
El objetivo de este medio es difundir iniciativas y promover la participación voluntaria en proyectos que fomenten: 
- La educación y el aprendizaje
- El arte y la cultura como forma de expresión personal y popular (no comercial) 
- El desarrollo social y local, sostenible 
- El cuidado del medio ambiente
</p>

<p>
Con el fin de respetar lo antedicho y mantener el foco del sitio dentro de este marco, planteamos ciertas normas de convivencias y respeto entre la comunidad. 
No respetar cualquiera de estas normas, significa el no compartir el objetivo de este medio y su comunidad y por tanto representa la no publicación del contenido de dicha persona y la posible expulsión de la misma.
</p>
<p>
- El Sitio se encuentran disponibles únicamente para su uso personal y no comercial. 
- No es un espacio para publicitar productos o servicios comerciales
- Las iniciativas publicadas deben ser gratuitas o de retribuciòn voluntaria y abiertas a todo el público, sin restricción.
- El material publicado y compartido no debe violar, inflingir o difamar a otras personas. 
-  No publicarás 
</p>
<ul>
    <li>contenido privado (como DNI, direcciones físicas o telefónicas) sobre otros sin su consentimiento.</li>
    <li>información calumniosa, difamatoria o ilegal</li>
    <li>dañino, amenazador, ilegal, difamatorio, transgresor, abusivo, incendiario, acosador, vulgar, obsceno, fraudulento, </li>
    <li>invasivo de la privacidad </li>
    <li>de odio , racial, étnico o de cualquier otra forma</li>
</ul>
<p>
- intimidar o acosar a otro usuario;
- No recolectarás direcciones de email e información de los usuarios del sitio con la finalidad de enviar correos no solicitados
</p>

</div>
