<div style="min-height:400px">
    <h1>Inteligencia Social</h1>
    <h2></h2>
    <p>
    Coperable cuenta con una red de colaboradores enfocada al trabajo con organizaciones, movimientos e instituciones. El objetivo es aportar un enfoque metodológico que inspire y potencie el desarrollo de nuestras tecnologías.
    </p>

    <h2>Servicios de consultoría</h2>
    <p>
    basado en los datos y conocimientos generados a partir de la plataforma. 
    </p>

    <h2>Desarrollar aplicaciones digitales</h2>
    <p>
Aprovechamos nuestros desarrollos, tecnologías open source disponibles y la innovadora inteligencia social de nuestro equipo para la concepción, diseño y desarrollo de aplicaciones de:
    </p>
    <ul>
        <li>Participación ciudadana </li>
        <li>Aplicaciones Cívicas </li>
        <li>Mapeos colaborativos </li>
        <li>Economía Colaborativa </li>
        <li>Medición y Monitoreo </li>
        <li>Presupuestos participativos </li>
    </ul>

    <h2>Observatorio</h2>
    <p>
        Colaboramos con Minka en el Observatorio de Economía colaborativa, desarrollando aplicaciones y aportando al trabajo con datos abiertos.
    </p>
</div>


