<div style="min-height:400px">
    <h1>Talleres de Mapeo Colectivo</h1>

    <p>
        Proponemos un trabajo presencial para grupal de Mapeo analógico y digital de proyectos, iniciativas, grupos y actividades en relación a una temática y una región.
    </p>

    <p>
        El taller esta enfocado a:
    </p>
    <ul>
        <li>Organizaciones Territoriales</li>
        <li>Movimientos Sociales</li>
        <li>Instituciones gubernamentales</li>
        <li>Responsabilidad social empresaria</li>
        <li>Redes </li>
        <li>Comunidades regionales</li>
    </ul>

    <p>
        El taller da como resultado un mapa digital, participativo y accesible enfocado a la activación real del grupo en cuestión.
    </p>
</div>


