<div class="control-group">
    <div class="number">7</div>
    <div class="content">
        <label class="control-label" for="address">Dirección</label>
        <div class="controls">
            <input type="text" name="address" id="addresspicker_map" class="span8" autocomplete="off" required/>
            <div style="width:100%;height:200px;margin-top:20px">
                <div id="map_canvas" style="width:100%; height:100%"></div>
                <div id="location" class=""></div>
            </div>
        </div>
    </div>
</div>

