<!DOCTYPE html>
<html lang='es'>
<head>
  <title>{{layoutTitle}} | Coperable</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/flat/css/flat-ui.css" />
  <link rel='stylesheet/less' href='/static/css/styles.less' />
  <link rel='stylesheet/less' href='/static/css/cop-filters.less' />
  <link rel='stylesheet/less' href='/static/stylesheets/styles.less' />

  <script src='//cdn.jsdelivr.net/less/1.4.2/less.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <script src='//cdn.jsdelivr.net/lodash/2.1.0/lodash.underscore.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
  <script src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
  <script src="/static/lib/jquery.gomap-1.3.2.js"></script>
  <script src="/static/js/iniciativa.js?2"></script>
  <script src="/static/js/cop-filters.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <script type="text/javascript"> localStorage.clear();</script>
  {{#javascripts}}
    <script src="/static/js/{{.}}"></script>
  {{/javascripts}}
  {{>head_resources}}
</head>
<body id='{{layoutId}}'>
  
  <!-- Facebook share snippet -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=534159530039501&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- END Facebook share snippet -->

  <!-- Twitter share snippet -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <!-- END Twitter share snippet -->
  <header>
    <div class="content-wrapper">
      <div>
        <div class="logo"><a href="/"><img src="/static/img/Logo-web-gris.png"/></a></div>
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="/iniciativas">Iniciativas</a></li>
            <li><a href="/iniciativas/create">Organiza</a></li>
            <li><a href="/comunidades">Comunidades</a></li>
            {{#user}}
              <li><a href="/user/{{user.id}}">{{user.username}}</a></li>
              <li><a href="/user/logout">Salir</a></li>
            {{/user}}
            {{^user}}
              <li><a href="/user/login">Ingres&aacute;</a></li>
            {{/user}}
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="content-wrapper">
    {{{ yield }}}
  </div>

    <div style="clear:both"></div>
    <footer>
        <div class="row clear-both">
            <div class="span4 offset1">
                <h4>Coperable</h4>
                <ul>
                    <li><a href="/site/about">Sobre Coperable</a></li>
                    <li><a href="/site/networks">Nuestra Red</a></li>
                    <li><a href="/site/practices">Buenas Practicas</a></li>
                    <li><a href="/site/open">Abierto y Colaborativo</a></li>
                </ul>
            </div>
            <div class="span3">
                <h4>Servicios</h4>
                <ul>
                    <li><a href="/site/implementation">Implementacion a medida</a></li>
                    <li><a href="/site/social_analytic">Inteligencia Social</a></li>
                    <li><a href="/site/workshops">Talleres de Mapeo Colaborativo</a></li>
                    <li><a href="/site/rse">Voluntariado Empresarial y RSE</a></li>
                </ul>
            </div>
            <div class="span3 pull-right">
                <h4>Conectate</h4>
                <ul>
                    <li><a href="https://www.facebook.com/coperable">facebook.com/coperable</a></li>
                </ul>
            </div>
        </div>
    </footer>
  {{>bottom_resources}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54972444-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
