<div class="item-template">
  <div data-category="<%= main_category %>" class="initiative initiative-item">
    <div data-label="<%= main_category %>" class="pic">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <img class="replace-src" data-src="/static/uploads/thumbs/<%= profile_picture %>" width="100%"/>
      </a>
    </div>
    <div class="wrapper">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <h4><%= name %></h4>
      </a>
      <div class="place" data-icon=""><%= address %></div>
      <div class="schedule" data-icon=""><%= date_f %></div>
    </div>
    <div class="bottom">
      <div class="wrapper">
        <ul class="status <%= current_stage %>">
          <li>Preparación <div class="icon"></div></li>
          <li>Activando<div class="icon"></div></li>
          <li>Finalizada<div class="icon"></div></li>
        </ul>
      </div>
      <div class="actions wrapper">
        <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa" class="button green">Participá</a>
        <div class="text"><%= members.length %></div>
      </div>
    </div>
  </div>
</div>
