{{#profile}}
	<div class="first_field">
        <img src="/static/uploads/fullsize/{{profile.picture}}" class="user-face" />
		<div class="user-info">
			<div class="user-name">{{profile.username}}
             </div>
            <div class="user-about">{{profile.about}}</div>

            <ul class="social">
                {{#profile.networks.twitter.has}}
    				<li>
                    <a href="{{profile.networks.twitter}}">
                        <img src="/static/img/twitter-circle.png">
                    </a>
                </li>
    			{{/profile.networks.twitter.has}}
                
                {{#profile.networks.facebook.has}}
                    <li>
                    <a href="{{profile.networks.facebook}}">
                        <img src="/static/img/facebook-circle.png">
                    </a>
                </li>
                {{/profile.networks.facebook.has}}
                
                {{#profile.networks.youtube.has}}
                    <li>
                    <a href="{{profile.networks.youtube}}">
                        <img src="/static/img/youtube-circle.png">
                    </a>
                </li>
                {{/profile.networks.youtube.has}}
                
                {{#profile.networks.flickr.has}}
                    <li>
                    <a href="{{profile.networks.flickr}}">
                        <img src="/static/img/flickr-circle.png">
                    </a>
                </li>
                {{/profile.networks.flickr.has}}
                
                {{#profile.networks.linkedin.has}}
                    <li>
                    <a href="{{profile.networks.linkedin}}">
                        <img src="/static/img/linkedin-circle.png">
                    </a>
                </li>
                {{/profile.networks.linkedin.has}}
                
                {{#profile.networks.delicious.has}}
                    <li>
                    <a href="{{profile.networks.delicious}}">
                        <img src="/static/img/delicious-circle.png">
                    </a>
                </li>
                {{/profile.networks.delicious.has}}
            </ul>
        </div>

	</div>
    {{#user.isOwner}}
        <span class="btn pull-leftfloat" style=" margin-top: 10px; background: red"><a href="/user/{{user.id}}/edit">Editar Perfil</a></span>
    {{/user.isOwner}}
    <br /><br />
    <h3>Participó en</h3>
    <!--<ul class="list-user">-->
    <div id="lastInitiatives">
        <ul class="list" id="iniciativas_list">
        {{#profile.iniciativas}}
            <!--
            <li class="initiative">
                <div class="content">
                    <a href="/iniciativas/{{id}}">
                        <div class="img" style="background-image:url('/static/uploads/fullsize/{{profile_picture}}');"></div>
                        <div class="title">{{name}}</div>
                    </a>
                </div>
            </li>
            -->
            <li class="initiative">
                <div class="initiative initiative-item" data-category="{{main_category}}">
                    <div class="pic" data-label="{{main_category}}">
                      <a rel="address:/iniciativa" href="/iniciativas/{{_id}}">
                        <img width="100%" data-src="/static/uploads/thumbs/{{profile_picture}}" class="replace-src" src="/static/uploads/thumbs/{{profile_picture}}">
                      </a>
                    </div>
                    <div class="wrapper">
                      <a rel="address:/iniciativa" href="/iniciativas/544147d237640b7778ed7f0e">
                        <h4>{{name}}</h4>
                      </a>
                      <div data-icon="" class="place">{{address}}</div>
                      <div data-icon="" class="schedule">{{date_f}}</div>
                    </div>
                <div class="bottom">
                  <div class="wrapper">
                    <ul class="status {{current_stage}}">
                      <li>Preparación <div class="icon"></div></li>
                      <li>Activando<div class="icon"></div></li>
                      <li>Finalizada<div class="icon"></div></li>
                    </ul>
                  </div>
                  <div class="actions wrapper">
                    <a class="button green" rel="address:/iniciativa" href="/iniciativas/{{id}}">Participá</a>
                    <div class="text">{{participants_amount}}</div>
                  </div>
                </div>
              </div>
            </li>
        {{/profile.iniciativas}}
        </ul>
    </div>
    <br /><br />

    <h3>Organizó</h3>
    <ul class="list-user">
    {{#profile.ownedIniciativas}}
        <!--<li class="initiative">
            <div class="content">
                <a href="/iniciativas/{{id}}">
                    <div class="img" style="background-image:url('/static/uploads/fullsize/{{profile_picture}}');"></div>
                    <div class="title">{{name}}</div>
                </a>
            </div>
        </li>-->
        <li class="initiative">
            <div class="initiative initiative-item" data-category="{{main_category}}">
                <div class="pic" data-label="{{main_category}}">
                  <a rel="address:/iniciativa" href="/iniciativas/{{_id}}">
                    <img width="100%" data-src="/static/uploads/thumbs/{{profile_picture}}" class="replace-src" src="/static/uploads/thumbs/{{profile_picture}}">
                  </a>
                </div>
                <div class="wrapper">
                  <a rel="address:/iniciativa" href="/iniciativas/544147d237640b7778ed7f0e">
                    <h4>{{name}}</h4>
                  </a>
                  <div data-icon="" class="place">{{address}}</div>
                  <div data-icon="" class="schedule">{{date_f}}</div>
                </div>
            <div class="bottom">
              <div class="wrapper">
                <ul class="status {{current_stage}}">
                  <li>Preparación <div class="icon"></div></li>
                  <li>Activando<div class="icon"></div></li>
                  <li>Finalizada<div class="icon"></div></li>
                </ul>
              </div>
              <div class="actions wrapper">
                <a class="button green" rel="address:/iniciativa" href="/iniciativas/{{id}}">Participá</a>
                <div class="text">{{participants_amount}}</div>
              </div>
            </div>
          </div>
        </li>
    {{/profile.ownedIniciativas}}
    </ul>

<br /><br />
{{/profile}}
