
	<div class="first_field" style="position:relative; width:100%; top:10px; float:left; width:100%; height:143px;">	
		<div style="position:absolute; width:25%">
		    <img src="/static/img/users/user-12-mq.jpg" style="width:55%; height:130px;" 
			class="img-rounded img-responsive"/>
		</div>
		<div style="position:relative; left:15%">
       	    		{{#profile}}
				<h3>{{profile.username}}</h3>
                <h3>{{profile.about}}</h3>




				{{#profile.networks.facebook.has}}
					<img class="img-rounded img-responsive" src="/static/img/facebook.png">
				{{/profile.networks.facebook.has}}
				{{#profile.networks.twitter.has}}
					<img class="img-rounded img-responsive" src="/static/img/twitter.png">
				{{/profile.networks.twitter.has}}
				{{#profile.networks.googleplus.has}}
					<img class="img-rounded img-responsive" src="/static/img/google_plus.png">
				{{/profile.networks.googleplus.has}}
			<script>
			    $(function(){
			      iniciativas_owner = new iniciativa.OwnerBrowser();
			      iniciativas_owner.traer_iniciativas('{{profile._id}}');
			    });
			</script>
			{{/profile}}
                </div>
	</div>
	<br/>


    first_name:   {{profile.first_name}} </br> 
    last_name:   {{profile.last_name}} </br> 
    email:   {{profile.email}} </br> 
    location:   {{profile.location}} </br> 
    birthdate: {{profile.birthdate}} </br> 
    picture: {{profile.picture}} </br> 
    picture_thumb: {{profile.picture_thumb}} </br> 
    about: {{profile.about}} </br> 
    cantidad_iniciativas:  {{profile.cantidad_iniciativas}} </br> 


<h2>INICIATIVAS</h2>
    <ul>
    {{#profile.iniciativas}}
        <li>
        title: {{title}} </br> 
        description: {{description}} </br> 
        profile_picture: {{profile_picture}} </br> 
        owner: {{owner}} </br>
        </li>
    {{/profile.iniciativas}}
    </ul>

	<div id="div_iniciativas_owner" class="iniciativas-list" style="position:relative; top:15px;"></div>	

