    <script src="/static/javascripts/bootstrap-typeahead.min.js"></script>
    <script src="/static/javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/static/bootstrap/js/bootstrap-tab.js'></script>
    <script type='text/javascript' src='/static/bootstrap/js/bootstrap-button.js'></script>
    <script src="/static/javascripts/bootstrap-typeahead.min.js"></script>
    <script src="/static/javascripts/underscore-min.js"></script>
    <script src="/static/javascripts/backbone-min.js"></script>
    <script src="/static/lib/fileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.iframe-transport.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.fileupload.js"></script>

    <script src="/static/js/signup.js"></script>
