               
                <!--<div id="espacio-para-el-mapa" style="height:195px;" class="visible-lg visible-md"></div>-->
                
                <section id="map_home" class="section section-center section-map-home">
                	  
                    <div class="container map-container">
                        <div class="owned_map row">
                        	 <!--div class="categorias">
			                	  		<table>
			                	  			<tr>
			                	  				<td>Todas</td>
			                	  				<td>Medio Ambiente</td>
			                	  				<td>Arte y Cultura</td>
			                	  				<td>Educación</td>
			                	  				<td>Desarrollo Social</td>
			                	  			</tr>
			                	  		</table>
                              </div-->
                            <div id="map_canvas_home" style="width:100%; height:100%"></div>
                        </div>
                    </div>
                </section>

                <section class="section section-center section-cta section-cta-principal">
                    <div class="container container-info">
                    		<table>
                    			<tr>
                    				<td class="td-tit"><h1>Somos cada día más!</h1> </td>
                    				<td class="td-img"><img src="/static/sites/coperable/images/coperable-logo-crema.png" alt=""></td>
                    				<td class="td-desc"><h3>COPERABLE LOCAL-GLOBAL</h3>
                    										  <p>Sumate a una red con iniciativas en toda América Latina.</p>
                    				
                    				</td>
                    			</tr>
                    		</table>
                    
                    </div>
                </section>




                <section id="features" class="section section-center section-hilite section-features">
                   <!--div class="categorias">
			                	  		<table>
			                	  			<tr>
			                	  				<td>Todas</td>
			                	  				<td>Medio Ambiente</td>
			                	  				<td>Arte y Cultura</td>
			                	  				<td>Educación</td>
			                	  				<td>Desarrollo Social</td>
			                	  			</tr>
			                	  		</table>
                          </div--> 
			               <div class="container">
                    		
                        <div class="section-title"><h2><small>AGENDA de INICIATIVAS en Coperable</small></h2></div>

                        <div class="row">

                            <div ng-repeat="hit in hits | limitTo: 6" data-category="medio_ambiente" class="item-template col-md-4">

                                <div class="initiative initiative-item">
                                    <div data-label="{{hit._source.start_date | moment: 'D [de] MMMM'}}" class="pic">
                                        <a ng-href="/iniciativas/{{hit._id}}" rel="address:/iniciativa">
                                            <img class="replace-src" ng-src="/static/uploads/thumbs/{{hit._source.profile_picture}}" width="100%"/>
                                        </a>
                                    </div>
                                    <div class="subtext">
                                        <a ng-href="/users/{{hit._source.owner.user}}"> <h4>{{hit._source.organization || hit._source.owner.name}}</h4></a>
                                    </div>
                                    <div class="wrapper">
                                        <a ng-href="/iniciativas/{{hit._id}}" rel="address:/iniciativa">
                                            <h4>{{hit._source.name}}</h4>
                                        </a>
                                        <div>{{hit._source.start_date | moment: 'L LT'}}</div>
                                    </div>
                                    <div class="bottom">
                                        <div class="actions wrapper">
                                            <a ng-href="/iniciativas/{{hit._id}}" rel="address:/iniciativa" class="btn-alternate btn">Ver</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div >
                                <a href="/iniciativas" class="btn-default col-md-offset-10 btn col-md-2">Ver más <i class="fa fa-chevron-right"></i> </a>
                            </div>
                        </div>

                    </div>
                </section>
                
                <section class="section section-center section-cta section-cta-fondo">
                    <div class="container container-info">
                    		<table>
                    			<tr>
                    				<td class="td-tit"><h1>INFORMACIÓN</h1> </td>
                    				<td class="td-img"><img src="/static/sites/coperable/images/coperable-linea-crema.png" alt=""></td>
                    				<td class="td-desc">
                                        <p>Un set de herramientas colaborativas para difundir y visibilizar las iniciativas de las organizaciones</p>
                                        <p>Sumando participantes</p>
                                        <p>Fomentando la cooperación y el trabajo en red</p>
                    				</td>
                    			</tr>
                    		</table>
                    
                        <!-- <div class="main-action row">
                            <div class=" col-md-offset-2  col-md-4 col-sm-4  col-sm-offset-2"><a ng-href="/iniciativas" class="smooth-scroll btn btn-lg btn-block btn-info">Sumate</a></div>
                            <div class="col-md-4 col-sm-4">
                                <a  ng-show="is_logged()" ng-href="/iniciativas/edit" class="smooth-scroll btn btn-lg btn-block btn-default">Organizá</a>
                                <a  ng-show="!is_logged()" href="/user/login" target="_self" class="smooth-scroll btn btn-lg btn-block btn-default">Organizá</a>
                            </div>
                        </div> -->
                    </div>
                </section>

                <section id="team" class="section section-center section-hilite section-team">
                    <div class="container">
                        <div class="section-title"><h2><span></span><small>ORGANIZADORES trabajando en Coperable</small></h2></div>
                        <div class="row">
                            <div ng-repeat="organization in organizations" class="col-md-2 col-sm-4 col-xs-6">
                                <a ng-href="/users/{{organization._id}}">
                                    <img width="300px" ng-src="/static/uploads/thumbs/{{organization._source.profile_picture}}">
                                    <h5>{{organization._source.organization_name}}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

        <section id="clients" class="section section-our-clients">
            <div class="container">
                <h2 class="section-title"><span>Colaboran y Apoyan</span></h2>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 vcenter">
                        <a href="#">
                            <img src="/static/img/logos_support.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        
