<section id="section-user-info" class="section section-center section-user-info">
    <div class="container">
        <article class="hentry post">
            <div class="row">
                <div class="entry-thumbnail col-lg-2 col-md-3 col-sm-4">
                    <img ng-show="profile.profile_picture" src="/static/uploads/fullsize/{{profile.profile_picture}}" alt="" />
                    <img ng-show="!profile.profile_picture" src="http://placehold.it/165x165&text=(Sin Foto)" alt="" />
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <header class="entry-header">
                        <h2 class="entry-title">{{profile.organization_name ? profile.organization_name: profile.username}}</h2>
                    </header>
                    <div class="entry-content">
                        <p class="pull-left">{{profile.about}}</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <ul class="list-unstyled">
                        <li ng-show="profile.networks.twitter.has">
                            <a href="{{profile.networks.twitter.user_id}}">
                                <img src="/static/img/twitter-circle.png">
                            </a>
                        </li>
                        <li ng-show="profile.networks.facebook.has">
                            <a href="{{profile.networks.facebook.user_id}}">
                                <img src="/static/img/facebook-circle.png">
                            </a>
                        </li>
                        <li ng-show="profile.networks.youtube.has">
                            <a href="{{profile.networks.youtube.user_id}}">
                                <img src="/static/img/youtube-circle.png">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div ng-show="can_edit()" class="row">
                <div class="entry-thumbnail col-lg-2 col-md-3 col-sm-4">
                    <a href="/users/edit/{{profile._id}}"><span class="btn btn-primary">Editar Perfil</span></a>
                </div>
            </div>
        </article>
    </div>
</section>


<section id="owned-iniciativas" class="section section-center section-hilite section-owned-iniciativas">
    <div class="container">
        <div class="section-title"><h2><span>Actividades</span></h2></div>

        <div class="row">

            <article ng-repeat="iniciativa in iniciativas | filter:{ implementation: 'chascomus'}" class="item-template col-md-4 col-sm-6 portfolio-item post ">

                <div class="initiative initiative-item">
                    <div data-label="{{iniciativa.start_date | moment: 'D [de] MMMM'}}" class="pic">
                        <a ng-href="/iniciativas/{{iniciativa._id}}" rel="address:/iniciativa">
                            <img class="replace-src" src="/static/uploads/thumbs/{{iniciativa.profile_picture}}" width="100%"/>
                        </a>
                    </div>
                    <div class="wrapper">
                        <a ng-href="/iniciativas/{{iniciativa._id}}" rel="address:/iniciativa">
                            <h4>{{iniciativa.name}}</h4>
                        </a>
                        <div>{{iniciativa.description}}</div>
                        <div>{{iniciativa.start_date | moment: 'L LT'}}</div>
                    </div>
                    <div class="bottom">
                        <div class="actions wrapper">
                            <a ng-href="/iniciativas/{{iniciativa._id}}" rel="address:/iniciativa" class="btn-alternate btn">Ver</a>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </div>
</section>


<section id="map_owned" class="section section-center section-user-info">
    <div class="container">
        <div class="section-title"><h2><span>Mapa de Actividades</span></h2></div>
        <div class="owned_map row" style="height:500px;">
            <div id="map_canvas_owned" style="width:100%; height:100%"></div>
        </div>
    </div>
</section>
