<section class="section">
<div id="initiativePage" class="row">
    <div id="initiativeContent" class="col-md-9 col-sm-12">
        <h1 class="title">{{iniciativa.name}}</h1>
        <div class="info">
            Por <a class="name" href="/user/{{iniciativa.owner.user}}">{{iniciativa.owner.name}}</a> en <a href="#" data-category="environment">{{iniciativa.main_category}}</a>
        </div>
        <section role="main">
            <h3>Objetivo</h3>
            <div class="objective">{{iniciativa.goal}}</div>
            <div class="cover" style="background-image: url('/static/uploads/fullsize/{{iniciativa.profile_picture}}') !important;">
                <img src="/static/uploads/fullsize/{{iniciativa.profile_picture}}" style="visibility:hidden"/>

            </div>
            <div class="location" style="background:url(http://maps.googleapis.com/maps/api/staticmap?center={{iniciativa.location.latitude}},{{iniciativa.location.longitude}}&zoom=14&size=630x192&sensor=false&markers=color:red%7C{{iniciativa.location.latitude}},{{iniciativa.location.longitude}}) !important;">

                <div class="info">
                    <div>
                        <span ng-show="iniciativa.start_date != iniciativa.end_date">Desde</span> <span class="when">{{iniciativa.start_date | moment: 'DD MMMM YYYY, HH:mm'}}</span><span ng-show="iniciativa.start_date != iniciativa.end_date"> - Hasta <span class="when">{{iniciativa.end_date | moment: 'DD MMMM YYYY, HH:mm'}}</span></span>
                    </div>
                    <div class="where">{{iniciativa.address}}</div>
                </div>
            </div>

            <div ng-show="{{iniciativa.tasks.length}}" class="cell tags-wrapper">
                <h3>Tareas</h3>
                <ul class="orange tags">
                    <li ng-repeat="tag in iniciativa.tasks">{{tag}}</li>
                </ul>
            </div>
            <div ng-show="{{iniciativa.topics.length}}" class="cell tags-wrapper">
                <h3>Temática</h3>
                <ul class="orange tags">
                    <li ng-repeat="tag in iniciativa.topics">{{tag}}</li>
                </ul>
            </div>

            <div class="cell description">
                <h3>Descripción</h3>
                <div {{plain(iniciativa.description)}}
            </div>
        </section>

    </div>

    <div id="initiativeSidebar" class="col-md-3 col-sm-10  section section-hilite">
        <div class="wrapper">
            <div ng-show="{{iniciativa.members.length}}" class="participants">
                <div class="info">
                    <span class="num">{{iniciativa.members.length}}</span> Participantes<br />
                    <b>de <span class="total">{{iniciativa.participants_amount}}</span></b>
                </div>
                <ul class="users-list-sq">
                    <li ng-repeat="member in iniciativa.members">
                        <img src="{{member.picture_thumb}}" />
                    </li>
                </ul>
<!--
                {{#user}}
                    {{#isOwner}}
                        <a class="green button big block participar" href="/iniciativas/{{iniciativa._id}}/edit">
                            Editar
                        </a>
                    {{/isOwner}}
                    {{^isOwner}}
                        {{#isMember}}
                        <form method="POST" action="/api/iniciativas/{{iniciativa._id}}/{{user.id}}/quit">
                            <input type="submit" class="green button big block participar" value="Dejar de Participar"/>
                        </form>
                        {{/isMember}}
                        {{^isMember}}
                        <form method="POST" action="/api/iniciativas/{{iniciativa._id}}/{{user.id}}">
                            <input type="submit" class="green button big block participar" value="Participá"/>
                        </form>
                        {{/isMember}}
                    {{/isOwner}}
                {{/user}}
                {{^user}}
-->
                    <a class="btn btn-default participar" href="/user/login?returnURL=/iniciativas/{{iniciativa._id}}">
                        Ingresá para participar
                    </a>
<!--
                {{/user}}
-->
                    <style type="text/css">
                        .participar {
                            -webkit-transition: background-color 0.3s linear;
                            -moz-transition: background-color 0.3s linear;
                            -o-transition: background-color 0.3s linear;
                            -ms-transition: background-color 0.3s linear;
                            transition: background-color 0.3s linear;
                        }
                        .participar.participando {
                            background-color: #C32C2C;
                        }
                    </style>
                    <script type="text/javascript">
                        $(function(){
                            var $btn = $('.participar')
                            $btn.on('click', function(){ $btn.toggleClass('participando') })
                        })
                    </script>
            </div>

            <div ng-show="iniciativa.networks.length" class="cell">
                <h4>Seguinos</h4>
                <a target="blank" href="http://twitter.com/{{iniciativa.networks.twitter}}" class="twitter-btn"></a>
                <a target="blank" href="http://facebook.com/{{iniciativa.networks.facebook}}" class="facebook-btn"></a>
                <a target="blank" href="http://youtube.com/{{iniciativa.networks.youtube}}" class="youtube-btn"></a>
            </div>

            <div class="cell">
                <h4>Difundir</h4>
                <div class="clearfix">
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    </div>
                </div>
            </div>
            <div class="wrapper about">
                <div class="title">Sobre el organizador</div>
                    <div class="info">
                        <img src="{{iniciativa.owner.picture_thumb}}" />
                        <a href="/user/{{iniciativa.owner.user}}" class="name">{{iniciativa.owner.name}}</a>
                        <div class="place">{{user.location}}</div>
                    </div>
                    <div class="description">
                        {{owner.about}}
                    </div>
                    <div class="other">
                        <div class="title">Otras iniciativas de {{owner.username}}</div>
                            <div ng-repeat="ownedIniciativa in iniciativa.owner.ownedIniciativas" class="pic">
                                <a href="/iniciativas/{{ownedIniciativa.id}}">
                                    <div class="name">{{ownedIniciativa.name}}</div>
                                    <img src="/static/uploads/thumbs/{{ownedIniciativa.profile_picture}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="report-initiative" href="#"><i class="icon-warning-sign"></i> Denunciar iniciativa</a>
                </div>
            </div>
            <div id="fb-root"></div>
</section>
