                <section class="section section-center section-network">
                    <div class="container">
                        <h2 class="section-title"><span>Chascomús en Red</span></h2>
                        <p>Chascomús en Red es un espacio multisectorial que reúne a emprendimientos culturales, educativos, sociales, de permacultura, de turismo, de salud, deportivos, con el fin de difundir conjuntamente eventos y actividades. A través de campañas, entramar procesos y optimizar recursos (no sólo fiancieros sino tambien tecnológicos, infraestructuras, saberes).</p>
                        <p>Chascomús en red se propone como un servicio para los vecinos de la ciudad y para los turistas que nos visitan, ofreciendo un panorama de actividades y servicios para disfrutar la ciudad.</p>
                    </div>
                </section>


