
<div class="main-feature">
    <div class="main-info">
        <h1 class="main-title">Un Mapa Colaborativo para compartir iniciativas abiertas y participar en encuentros positivos para la comunidad. Sumate! </h1>
        <div class="box-wrapper-info">
          <div class="box-participa-info">
            <a href="/iniciativas">Sumate</a>
          </div>
          <div class="box-organiza-info">
            <a href="/iniciativas/create">Organizar</a>
          </div>
        </div>
    </div>

    <!--img src="/static/img/home_background.jpg"/-->
</div>
<div class="highlight text-center">
  Coperable es un proyecto autogestionado y colaborativo. Si te interesa colaborar o sumar apoyo escribinos a <a href="mailto:hola@lapapasustentable.com.ar">hola@lapapasustentable.com.ar</a>
</div>


<div class="ultimas-iniciativas">
  <h3>Mapa <span class="weak">Iniciativas cercanas donde participar</span></h3>
</div>

<div id="map_browser" class="ultimas-iniciativas-mapa">
  <ul class="clearfix ultimas-iniciativas-filtro">
    <li id="browser_all" data-icon="" class="selected category_tab">Ver todas</li>
    <li id="browser_me" class="category_tab" data-icon="">Medio ambiente</li>
    <li id="browser_ac" class="category_tab" data-icon="">Arte y cultura</li>
    <li id="browser_ed" class="category_tab" data-icon="">Educación</li>
    <li id="browser_ds" class="category_tab" data-icon="">Desarrollo social</li>
  </ul>
  <div class="ultimas-iniciativas-mapa-wrapper">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </div>
</div>
<div style="clear:both"></div>
<div id="lastInitiatives">
    <h2>Iniciativas</h2>
    <ul class="list" id="iniciativas_list">
    </ul>
</div>
<div id="map-browser-templates" style="display: none;">
    {{> iniciativaItemTemplate }}
</div>

<div style="clear:both"><div class="span2 pull-right"> <span class="btn btn-block btn-lg btn-info"><a href="/iniciativas"> Ver más ></a> </span></div></div>
<br/>
<div class="row collaborators">
    <h2>Colaboran y Apoyan</h2>
    <img src="/static/img/logos_support.png"/>
</div>
<br/>

<script>
  $(function(){
    map_browser = new iniciativa.MapBrowser({
      el: $('#map_browser'),
      $templates: $('#map-browser-templates')
    });
    {{#geo}}
	    map_browser.reset({
        user_location: {
          latitud: {{geo.latitud}},
          longitud: {{geo.longitud}}
        }
      });
    {{/geo}}
    map_browser.traer_iniciativas('all');
    map_browser.traer_last_iniciativas();
  });
</script>

