<div class="marker-template">
  <div class="media" data-category="<%= main_category %>" class="initiative">
     <div data-label="<%= main_category %>" class="pic">
       <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
         <img src="/static/uploads/thumbs/<%= profile_picture %>"/>
       </a>
     </div>
     <div class="wrapper">
       <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <h4><%= name %></h4>
       </a>
       <div class="place" data-icon=""><%= address %></div>
       <div class="schedule" data-icon=""></div>
     </div>
     <div class="bottom">
       <div class="wrapper">
         <ul class="status">
           <li class="actual"><%= stages[0].stage %> <div class="icon"></div></li>
           <li>Activando<div class="icon"></div></li>
           <li>Finalizada<div class="icon"></div></li>
         </ul>
       </div>
       <div class="actions wrapper">
         <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa" class="button green">Participá</a>
         <div class="text"><%= members.length %></div>
       </div>
     </div>
   </div> 
</div>
<div class="item-template">
  <li data-category="<%= main_category %>" class="initiative">
    <div data-label="<%= main_category %>" class="pic">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <img src="/static/uploads/thumbs/<%= profile_picture %>" width="100%"/>
      </a>
    </div>
    <div class="wrapper">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <h4><%= name %></h4>
      </a>
      <div class="place" data-icon=""><%= address %></div>
      <div class="schedule" data-icon=""><%= date_f %></div>
    </div>
    <div class="bottom">
      <div class="wrapper">
        <ul class="status">
          <li class="actual"><%= stages[0].stage %> <div class="icon"></div></li>
          <li>Activando<div class="icon"></div></li>
          <li>Finalizada<div class="icon"></div></li>
        </ul>
      </div>
      <div class="actions wrapper">
        <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa" class="button green">Participá</a>
        <div class="text"><%= members.length %></div>
      </div>
    </div>
  </li>
</div>
