//
// Section
// --------------------------------------------------
.section {
	padding: @grid-gutter-width*2 0;

	@media (max-width: @screen-sm-max) {
		padding: @grid-gutter-width 0;
	}

	&.section-center {
		text-align: center;
	}

	&.section-hilite {
		background: @gray-lighter;
	}
	
	

	.section-title {
		margin: 0 0 @grid-gutter-width; 
		text-align: center;
		position: relative;
		font-family: @titulos-font-family !important;

		@media (max-width: @screen-sm-max) {
			font-size: @font-size-h3;
		}

		@media (max-width: @screen-xs-max) {
			margin: 0 0 @grid-gutter-width/2;
		}
	}

	.section-title:after {
		content: "";
		display: block;
		height: 0px;            //lo puse en 0 para eliminar una línea blanca que me estorba :)
		background: #f5f5f5;
		position: absolute;
		top: 20px;
		width: 100%;

		@media (max-width: @screen-sm-max) {
			top: 15px;
		}
	}

	&.section-hilite .section-title:after {
		background: #e5e5e5;
	}

	.section-title span {
		background: #fff;
		padding: 0 10px;
		z-index: 1;
		position: relative;
	}

	&.section-hilite .section-title span {
		background: @gray-lighter;
	}

	&.section-features {
		padding-bottom: 0;
		padding-top: 0px;

		.icon-wrap {
			width: 128px;
			height: 128px;
			margin: 0 auto;
		}

		p {
			margin-bottom: @grid-gutter-width*2;

			@media (max-width: @screen-sm-max) {
				margin-bottom: @grid-gutter-width;
			}
		}
	}

	&.section-testimonial {
		.carousel-control {
			background: none;
		}

		.carousel-indicators {
			position: inherit;
			margin: 0;
			left: auto;
			width: 100%;
			bottom: auto;
		}

		.carousel-indicators li {
			width: auto;
			height: auto;
			text-indent: 0;
			border: none;
			border-radius: 60px;
			padding: 5px;
			margin: 5px !important;
			background: #fff;
			position: relative;
		}

		.carousel-indicators li.active {
			background: @brand-danger;
			
		}

		.carousel-indicators li.active:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-bottom-color: @brand-danger;
			position: absolute;
			top: -15px;
			left: 50%;
			margin-left: -10px;
		}
	}

	&.section-portfolio {
		padding-bottom: 0;
		text-align: center;

		.post {
			margin-bottom: @grid-gutter-width*2;

			@media (max-width: @screen-sm-max) {
				margin-bottom: @grid-gutter-width;
			}
		}

		.entry-thumbnail img {
			width: 100%;
		}

		#filters {
			list-style-type: none;
			margin: 0 0 30px;

			li {
                span.selector {
                    text-transform: capitalize;
                }
				display: inline-block;
				margin: 0 5px;
				color: @gray-lighter;
			}
		}

        #topics {
            list-style-type: none;
            margin: 0 0 10px;

            border: 1px solid #a1a1a1;
            padding: 10px 10px; 
            border-radius: 25px;
            li {
                display: inline-block;
                margin: 0 5px;
                color: #EF4832;
                span.selector {
                    text-transform: capitalize;
                }
                .selector:hover {
                    background-color: #EF4832;
                    color: #FFFFFF;
                }
                span.selector.active {
                    background-color: #EF4832;
                    color: #FFFFFF;
                }
            }
        }
        #categories {
            list-style-type: none;
            margin: 0 0 10px;

            border: 1px solid #a1a1a1;
            padding: 10px 10px; 
            border-radius: 25px;

            li {
                display: inline-block;
                margin: 0 5px;
                color: @gray-lighter;
                span.selector {
                    text-transform: capitalize;
                }
                .selector:hover {
                    background-color: #EF4832;
                    color: #FFFFFF;
                }
                span.selector.active {
                    background-color: #EF4832;
                    color: #FFFFFF;
                }
            }
        }



		.portfolio-isotope {
			margin-bottom: 30px;

			.portfolio-item {
				margin: 0 0 30px;
			}

			.col-lg-3,
			.col-md-3,
			.col-sm-3,
			.col-xs-3 {
				margin-left: -1px;
			}
		}
	}

	&.section-pricing {
		h1 {
			margin: 10px 0;
		}

		.panel-body {
			padding: 0;
		}

		.pricing-table {
			table {
				margin: 0;
			}

			tr td:first-child {
				border-top: none;
			}
		}
	}

	&.section-blog {
		padding-bottom: 0;

		.post {
			margin-bottom: @grid-gutter-width*2;

			@media (max-width: @screen-sm-max) {
				margin-bottom: @grid-gutter-width;
			}
		}

		.entry-thumbnail {
			@media (max-width: @screen-xs-max) {
				
				margin: 0 0 15px;

				a {
					display: block;
				}

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}

	&.section-our-clients {
		padding-bottom: 0;

        .vcenter {
            display: inline-block;
            vertical-align: middle;
        }

		a {
			background: #fff;
			display: block;
			text-align: center;
			margin-bottom: @grid-gutter-width*2;
			.transition(all 0.5s);

			@media (max-width: @screen-sm-max) {
				margin-bottom: @grid-gutter-width;
			}

		}

		a:hover,
		a:active {
			.box-shadow(0 0 0 1px @gray-light inset);
		}
	}

	&.section-cta {
		padding: 20px 0px 20px 0px;
		
		.main-action {
			margin: 20px 0 0;

			@media (max-width: @screen-xs-max) {
				margin: 0;

				.btn {
					margin: 20px 0 0;
				}
			}
		}
	}

	&.section-contact {
		form {
			margin-top: @grid-gutter-width;
		}

		textarea {
			min-height: 132px;
			resize: none;
		}
	}

	&.section-gmap {
		padding: 0;
		background: #ddd;

		.gmap {
			width: 100%;
			height: 480px;
			display: block;
		}
	}

	&.section-user-info {
		padding-bottom: 0;

		.post {
			margin-bottom: @grid-gutter-width*2;

			@media (max-width: @screen-sm-max) {
				margin-bottom: @grid-gutter-width;
			}
		}

		.entry-thumbnail {
			@media (max-width: @screen-xs-max) {
				
				margin: 0 0 15px;

				a {
					display: block;
				}

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}

	&.section-organization-form {
		text-align: left;
		font-family: @info-font-family;
		
		.section-title {
			text-align: left;
			margin: 0px -12px 30px;
			color: @brand-fondo-osc;
		}
		
		.info-adicional {
			margin: 0px 0px 10px 20px;
		}
        
      .organization_description {
      	height: 150px;
      }
      
      .sin-margen {
      	margin-bottom: 0;
      }
      
      
	
		.boton {
			  -webkit-border-radius: 7;
			  -moz-border-radius: 7;
			  border-radius: 7px;
			  font-family: @titulos-font-family;
			  color: #FFF;
			  font-size: 16px;
			  background: #e7a020;
			  padding: 12px 20px 10px 20px;
			  text-decoration: none;
			  cursor: pointer;
	
			   &:hover {
			   	background: #063a23;
			   	text-decoration: none;			   	
			  		box-shadow: 0px 1px 3px #666666;
			  		-webkit-box-shadow: 0px 1px 3px #666666;
			  		-moz-box-shadow: 0px 1px 3px #666666;
				}
			}  
      
      
	}


}

.section-slide {
	.item {
        height: 354px;
		text-align: center;
		padding: 60px 0;
		left: 0 !important;
		.transition(opacity .5s);

		@media (max-width: @screen-sm-max) {
			padding: 30px 0;
		}

		@media (max-width: @screen-xs-max) {
			padding: 15px 0;
		}

		img {
			.transition(opacity .5s);
		}
	}

	.next.left,
	.prev.right {
		.opacity(1);
		z-index: 1;

		img {
			.opacity(1);
		}
	}

	.active.left,
	.active.right {
		.opacity(0);
		z-index: 2;

		img {
			.opacity(0);
		}
	}

	.carousel-control {
		z-index: 3;
		.opacity(0);
		.transition(opacity .5s);

		span {
			top: 50%;
			margin-top: -10px;
			right: @grid-gutter-width;
			position: absolute;
		}

		&.left span {
			right: auto;
			left: @grid-gutter-width;
		}

	}

	&:hover .carousel-control {
		.opacity(1);
	}
}

//
// Layout
// --------------------------------------------------
.site-header {
	position: absolute;
	width: 100%;
	
	.logo-estatico {
		position: fixed;
		top: 0px;
		left: 20px;
		width: 40%;
	}
}

.site-topbar {
	background: @gray-darker;
	//padding: 10px 0; KARL: lo comento porque me genera un borde gris que no me sirve
	color: @gray-light;

	a {
		color: #fff;
		padding: 0 10px;
	}

	a:hover,
	a:active {
		color: @gray-light;
	}

	.social-links {
		text-align: right;
	}

	@media (max-width: @screen-xs-max) {
		text-align: center;

		.social-links {
			margin: 10px 0 0;
			text-align: center;
		}
	}
}

.site-navbar {
	background: #0aa55e !important;
	//box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);  
	margin: 0;
	z-index: 999;
	width: 100%;
	top: 0;
	border-bottom: 15px solid @brand-fondo;

   /* &:before {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right,  #78c6ff 0%,#78c6ff 11%,#fb0000 11%,#fb0000 22%,#edff07 22%,#edff07 33%,#388d47 33%,#388d47 44%,#FFFFFF 44%,#FFFFFF 55%,#e80000 55%,#e80000 66%,#2b44ff 66%,#2b44ff 77%,#ffffff 77%,#ffffff 88%,#e4ca07 88%); // W3C 
        background: #78c6ff; // Old browsers 
        background: -moz-linear-gradient(left, #78c6ff 0%, #78c6ff 11%, #fb0000 11%, #fb0000 22%, #edff07 22%, #edff07 33%, #388d47 33%, #388d47 44%, #FFFFFF 44%, #FFFFFF 55%, #e80000 55%, #e80000 66%, #2b44ff 66%, #2b44ff 77%, #ffffff 77%, #ffffff 88%, #e4ca07 88%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#78c6ff), color-stop(11%,#78c6ff), color-stop(11%,#fb0000), color-stop(22%,#fb0000), color-stop(22%,#edff07), color-stop(33%,#edff07), color-stop(33%,#edff07), color-stop(44%,#388d47), color-stop(44%,#FFFFFF), color-stop(55%,#FFFFFF), color-stop(55%,#e80000), color-stop(66%,#e80000), color-stop(66%,#2b44ff), color-stop(77%,#2b44ff), color-stop(77%,#ffffff), color-stop(88%,#ffffff), color-stop(88%,#e4ca07)); // Chrome,Safari4+ 
        background: -webkit-linear-gradient(left, #78c6ff 0%, #78c6ff 11%, #fb0000 11%, #fb0000 22%, #edff07 22%, #edff07 33%, #388d47 33%, #388d47 44%, #FFFFFF 44%, #FFFFFF 55%, #e80000 55%, #e80000 66%, #2b44ff 66%, #2b44ff 77%, #ffffff 77%, #ffffff 88%, #e4ca07 88%);
        background: -o-linear-gradientlinear-gradient(left, #78c6ff 0%, #78c6ff 11%, #fb0000 11%, #fb0000 22%, #edff07 22%, #edff07 33%, #388d47 33%, #388d47 44%, #FFFFFF 44%, #FFFFFF 55%, #e80000 55%, #e80000 66%, #2b44ff 66%, #2b44ff 77%, #ffffff 77%, #ffffff 88%, #e4ca07 88%);
        background: -ms-linear-gradientlinear-gradient(left, #78c6ff 0%, #78c6ff 11%, #fb0000 11%, #fb0000 22%, #edff07 22%, #edff07 33%, #388d47 33%, #388d47 44%, #FFFFFF 44%, #FFFFFF 55%, #e80000 55%, #e80000 66%, #2b44ff 66%, #2b44ff 77%, #ffffff 77%, #ffffff 88%, #e4ca07 88%);
        background-size: 390px 2px;
    } */





	.navbar-brand {
		margin: 0;
		margin-top: -2px;

		i {
			font-size: 40px;
			line-height: 38px;
			display: inline-block;
			float: left;
			margin: 2px 10px 0 0;
			color: @brand-primary;
		}

		a {
			display: inline-block;
			line-height: 40px;
			font-size: 24px;
			color: @brand-primary;
			//font-family: @font-family-sans-serif;
			font-family: @titulos-font-family;
		}

		a:hover,
		a:active {
			color: @brand-fondo;
			text-decoration: none;
		}
		
		img {
			width:100%;
		}

		@media (max-width: @screen-sm-max) {
			padding: 8px 15px;

			i {
				font-size: 24px;
				line-height: 30px;
			}

			a {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}

	.navbar-nav {
		margin: 15px 0;
		font-family: @titulos-font-family;

		@media (min-width: @grid-float-breakpoint) {
			a {
				padding: 10px 15px;
				border-radius: @border-radius-base;
				margin: 0 0 0 5px;
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			margin-top: 0;
			margin-bottom: 0;

			li {
				border-top: 1px solid @gray-lighter;

				.active {
					border-top: none;
				}
			}
		}
	}

	.navbar-toggle {
		margin: 13px 15px;
		font-size: 24px;
		line-height: 10px;
		outline: none;
		color: @gray;

		@media (max-width: @screen-sm-max) {
			margin: 5px 15px;
			font-size: 18px;
		}
	}
}

.site-main {
	padding-top: 85px;

	@media (max-width: @screen-sm-max) {
		padding-top: 50px;
	}
}

.site-content {
	padding: 60px 0;
}

.site-footer {
	text-align: center;
	background: @gray-darker;
	color: @gray-light;
	padding: @grid-gutter-width*2-10 0 0;

	@media (max-width: @screen-sm-max) {
		padding: @grid-gutter-width 0 0;
	}

	a {
		color: #fff;
	}

	a:hover,
	a:active {
		color: @gray-light;
	}

	ul {
		list-style-type: none;
		padding: 0;
		.clearfix();
	}

	li {
		line-height: 25px;
	}

	.form-control {
		border: none;
	}

	.social-links {
		margin: 15px 0 0;

		li {
			display: inline-block;
			margin: 0 5px 0 0;
		}

		a {
			border: 2px solid @gray-lighter;
			border-radius: 40px;
			display: block;
			width: 35px;
			height: 35px;
			text-align: center;
			line-height: 30px;
		}
	}

	.widget {
		margin: 0 0 @grid-gutter-width*2-10;

		@media (max-width: @screen-sm-max) {
			margin: 0 0 @grid-gutter-width;
		}

		p:last-child {
			margin: 0;
		}
	}

	.widget-title {
		color: @gray-lighter;
		margin: 0 0 @grid-gutter-width/2;

		@media (max-width: @screen-xs-max) {
			border-top: 1px solid rgba(255,255,255,.1);
			padding-top: @grid-gutter-width;
		}
	}

	.widget:first-child .widget-title {
		border-top: none !important;
		padding-top: 0 !important;
	}

	#sidebar-footer-2 {
		border-top: 1px solid rgba(255,255,255,.1);
		padding: @grid-gutter-width*2-10 0 0;

		@media (max-width: @screen-sm-max) {
			padding: @grid-gutter-width 0 0;
		}

		.widget:first-child:before {
			content: "";
			display: block;
			height: 100%;
			width: 1px;
			background: rgba(255,255,255,.1);
			position: absolute;
			right: 0;
		}

		.tweet {
			background: rgba(0,0,0,.1);
			border: 1px solid rgba(255,255,255,.1);
			max-width: 320px;
			margin: 0 auto;
			padding: 20px;
			min-height: 100px;
		}
	}

	.widget_flickr {
		a {
			margin: 0 5px;
		}

		img {
			width: 100px;
		}
	}

	.copyright {
		border-top: 5px solid rgba(255,255,255,.1);
		font-size: @font-size-small;
		padding: 20px 0 10px;
	}
}

.widget-area {
	#secondary & {
		border: 1px solid @gray-lighter;
		border-radius: 10px;
		padding: 29px;
	}
}

//
// Post
// --------------------------------------------------
.post {
	.clearfix();

	.entry-title {
		font-size: @font-size-h3;
		margin: 0 0 15px;
	}

	.entry-meta {
		margin-bottom: 15px;
		font-size: @font-size-small;
		color: @gray-light;
	}
}

//
// Project
// --------------------------------------------------
.single-project {
	.project-thumbnail {
		margin: 0 0 20px;
	}

	.btn {
		margin: 0 0 20px;
	}

	.project-info li {
		border-top: 1px solid @gray-lighter;
		padding: 5px 0;

		&:first-child {
			padding-top: 0;
			border-top: none;
		}
	}
}

//
// Scroll To Top
// --------------------------------------------------
.scroll-to-top {
	background: @gray-dark;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	border-radius: @border-radius-base;
	z-index: 9999;
	.opacity(0);
	.transition(opacity .5s);

	&.affix {
		.opacity(.5);
	}

	&:hover {
		.opacity(1);
	}

	a {
		color: #fff;
		display: block;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}

//
// Isotope Filtering
// --------------------------------------------------
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.initiative.initiative-item {
    float:left;
    box-shadow:0 1px 1px rgba(0,0,0,.3);
    margin:0 10px 15px 0;

	overflow:hidden;
	background:#FFF;
	width:310px;
	height:400px;
	border-radius:4px;
	color:#959595;
	font-weight:bold;
	font-size:12px;
	position:relative;
	&:nth-child(3n) {
		margin-right:0;
	}
	[data-icon] {
		padding-left:25px;
		&:before {
			top:-3px;
			font-size:20px;
			color:#ACACAC;
		}
	}
	.place {
		margin-bottom:12px;
	}
	.schedule.started {
		font-weight:bold;
		color:#C32C2C;
	}
	.wrapper {
		padding:0 15px;
	}
	.pic {
		position:relative;
        background: @brand-primary;
		&:before {
			content:attr(data-label);
			position:absolute;
			color:#FFF;
			font-size:13px;
			font-wight:bold;
			height:26px;
			line-height:26px;
			left:0;
			top:12px;
			text-transform:uppercase;
			padding:0 15px 0 30px;
			box-shadow:0 1px 3px rgba(0,0,0,.25);
			border-radius:0 3px 3px 0;
            background: @brand-primary;
		}
		&:after {
			position:absolute;
			font-family:'icomoon';
			height:26px;
			width:30px;
			text-align:center;
			top:15px;
			font-size:18px;
			left:0;
			color:#FFF;
		}
		a {
            display:block;
            max-height: 133px;
        }
	}
	.subtext {
		box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
		border-top:1px solid #DDD;
		width:100%;
		height:50px;
		background:#F7F7F7;
		bottom:0;
        font-weight:bold;
	}

	.bottom {
		box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
		border-top:1px solid #DDD;
		width:100%;
		height:60px;
		background:#F7F7F7;
		position:absolute;
		bottom:0;
		.wrapper:first-of-type {
			border-bottom:1px solid #EAEAEA;
		}
		.actions {
			padding-top:10px;
			line-height:36px;
            color: #000;
			.button,.text {
				float:right;
				margin-left:15px;
			}
		}
		ul.status {
			margin:15px 0;
		}
	}
}
.btn-alternate {
  .button-variant(@btn-primary-color; @brand-third; @btn-primary-border);

}
.paddingIn {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#initiativePage {
	.report-initiative {
		float: right;
		font-size: 13px;
		i {
			opacity: .6;
		}
	}
	#initiativeContent {
		.info {
			color:#B4B4B4;
			font-size:16px;
			a {
				color:#37c666;
				font-weight:bold;
			}
			[data-category] {
				height:26px;
				line-height:26px;
				color:#FFF;
				font-size:10px;
				text-transform:uppercase;
				display:inline-block;
				padding:0 15px 0 30px;
				border-radius:4px;
				font-weight:bold;
				margin-left:5px;
				position:relative;
				top:-2px;
				box-shadow:0 1px 3px rgba(0,0,0,.2);
				&:before {
					font-family:'icomoon';
					font-size:18px;
					left:10px;
					position:absolute;
				}
			}
			[data-category=environment] {
				background:#388D47;
				&:before {content:''}
			}
			[data-category=art] {
				background:#EB3130;
				&:before {content:''}
			}
			[data-category=education] {
				background:#37A2df;
				&:before {content:''}
			}
			[data-category=social] {
				background:#E17a36;
				&:before {content:''}
			}
		}
		header[role=main] {
			border-bottom:1px solid #ECECEC;
			padding-bottom:15px;
			margin-bottom:15px;
		}
		section[role=main] {
			h3 {
				margin-bottom:10px;
			}
			.objective {
				font-size:34px;
				color:#7C7C7C;
				margin-bottom:20px;
			}
			.m-gallery-all {
				.nav-bt {
					color:#FFF;
					border-color:#FFF;
					box-shadow:0 1px 3px rgba(0,0,0,.4);
					&.prev {left:25px;}
					&.next {right:25px;}
				}
			}
			.cover {
				background-size:   cover;
				background-repeat: no-repeat;
				position:relative;
				border-radius:6px;
				overflow:hidden;
				&:before {
					content:'';
					width:100%;
					height:100%;
					position:absolute;
					left:0;
					top:0;
				}

			}
			.location {
				//background:url(http://maps.googleapis.com/maps/api/staticmap?center=-34.58345,-58.405357&zoom=14&size=630x192&sensor=false&markers=color:red%7C-34.58345,-58.405357);
				height:192px;
				position:relative;
				border-radius:6px;
				overflow:hidden;
				&:before {
					content:'';
					width:100%;
					height:100%;
					position:absolute;
					left:0;
					top:0;
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 17%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(17%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 17%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 17%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 17%,rgba(0,0,0,0.9) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 17%,rgba(0,0,0,0.9) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
				}
				.info {
					bottom:20px;
					left:15px;
					position:absolute;
					color:#FFF;
					text-shadow:0 1px 3px rgba(0,0,0,.8);
					.when {
						font-size:22px;
					}
					.where {
						font-size:12px;
						font-weight:bold;
					}
				}
			}
			.cell {
				padding-top:10px;
			}
			.description p {
				color:#7C7C7C;
				font-size:15px;
			}
		}
	}
	#initiativeSidebar {
		.wrapper {
			border-radius:4px;
			.paddingIn;
			background:#FFF;
			width:100%;
			box-shadow:0 1px 1px rgba(0,0,0,.3);
			padding:20px 25px;
			margin-bottom:18px;
		}
		.status {
			margin:0 -10px;
		}
		.participants {
			margin-top:30px;
			.info {
				background:url(../img/person.png) 5px 0 no-repeat;
				padding-left:53px;
				font-size:26px;
				color:#6D6D6D;
				line-height:18px;
				.num {font-weight:bold;}
				b {font-size:16px;color:#ABABAB;}
			}
			.users-list-sq {
				display:table;
				margin:10px auto;
			}
		}
		.cell {
			padding:10px 0;
		}
		.twitter-btn,
		.facebook-btn,
		.youtube-btn,
		.twitter-btn {
			background:url(../img/twitter.png);
		}
		.facebook-btn {
			background:url(../img/facebook.png);
		}
		.youtube-btn {
			background:url(../img/youtube.png);
		}

		.fb_iframe_widget,
		.twitter-share-button {
			float: left;
			margin-right: 10px;
		}
		.about {
			.title {
				text-transform:uppercase;
				font-weight:bold;
				font-size:12px;
				border-bottom:1px solid #F6F6F6;
				margin:0 -25px 15px;
				padding:0 25px 15px;
			}
			.info {
				.clearfix;
				img {
					float:left;
					margin-right:15px;
				}
				.name {
					.clearfix;
					float:left;
					font-size:16px;
					color:#37c666;
					font-weight:bold;
					margin-top:12px;
				}
				.place {
					float:left;
					font-size:12px;
					color:#9C9C9C;
				}
			}
			.description {
				color:#868181;
				padding:15px 0;
			}
			.other {
				background:#F4F4F4;
				padding:15px;
				margin:0 -25px -20px;
				border-radius:0 0 4px 4px;
				border-top:1px solid #D0D0D0;
				box-shadow:inset 0 1px 1px rgba(0,0,0,.1);
				.title {
					font-size:12px;
					color:#A5A5A5;
					text-transform:uppercase;
					font-size:12px;
					font-weight:bold;
					margin-bottom:0;
				}
				.pic {
					position:relative;
					overflow:hidden;
					border-radius:4px;
					box-shadow:0 1px 1px rgba(0,0,0,.4);
					img {display:block;}
                    margin-bottom: 10px;
					.name {
						position:absolute;
						text-shadow:0 1px 1px rgba(0,0,0,.5);
						bottom:15px;
						left:15px;
						color:#FFF;
						font-weight:bold;
					}
				}
			}
		}
	}
}

.slider-text {
    height: 250px;
    padding-top: 50px;
    vertical-align: middle;
    color: #FFF;
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    h3 {
        background-color:rgba(18,120,36,0.5);
        margin: 20px;
    }
}

#super-zone {
    background: url(/static/img/dropzone-bg.png) repeat;
    height: 150px;
    .dropzone-help-text {
        background: url(/static/img/pics-img.png) center 30px no-repeat;
        height: 150px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.5);
        text-align: center;
        color: #FFF;
        font-size: 12px;
        padding-top: 95px;
        .text-hover {
            display: none;
        }
        &.hover {
            background-image: url(/static/img/upload-img.png);
            .text-hover {
                display: inline;
            }
            .text {
                display: none;
            }
        }
    }
    #dropzone {
        &.with-image {
            background-color: #000;
            background-position: center;
            background-repeat: no-repeat;
            .text {
                display: none;
            }
            &.hover {
                .text-hover {
                    display: none;
                }
            }
        }
    }
}
.form-signup {
    padding: 20px;
    border: 1px solid black;
    background: @gray-lighter;
    min-height: 400px;
}
.form-login {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    min-height: 400px;
}

#super-zone-ngo {
    background: url(/static/img/dropzone-bg.png) repeat;
    height: 150px;
    .dropzone-help-text {
        background: url(/static/img/pics-img.png) center 30px no-repeat;
        height: 150px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.5);
        text-align: center;
        color: #FFF;
        font-size: 12px;
        padding-top: 95px;
        .text-hover {
            display: none;
        }
        &.hover {
            background-image: url(/static/img/upload-img.png);
            .text-hover {
                display: inline;
            }
            .text {
                display: none;
            }
        }
    }
    #dropzone-ngo {
        &.with-image {
            background-color: #000;
            background-position: center;
            background-repeat: no-repeat;
            .text {
                display: none;
            }
            &.hover {
                .text-hover {
                    display: none;
                }
            }
        }
    }
}


span.selector {
    padding: 10px 15px;
    color: #333333;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: 'Roboto',Arial,sans-serif;
    color: #333333;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
    cursor: pointer;
}

.filters-default {
    .clearfix;
    position: relative;
    margin-bottom: 10px;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75%;
    }
    ul {
        .clearfix;
        z-index: 1;
        position: relative;
        li {
            list-style-type: none;
            padding: 0 25px;
            cursor: pointer;
            height: 45px;
            line-height: 45px;
            color: #7C7C7C;
            float: left;
            font-size: 13px;
            font-weight: bold;
            &.map-bt {
                background: url(/static/img/map-icon.png) 20px 0 no-repeat;
                padding-left: 45px;
            }
            &.history-bt {
                padding-left: 45px;
            }
            &.grid-bt {
                background: url(/static/img/grid-icon.png) 20px 0 no-repeat;
                padding-left: 45px;
            }
            &.selected {
                background-color: #EF4832;
                border-bottom-color: #EF4832;
                color: #FFF;
                background-position: 20px -45px;
            }
        }
    }
}

.tiles-list {
    .clearfix;
    li {
        list-style-type: none;
        text-align: center;
        color: #37c666;
        float: left;
        margin: 0 8px 8px 0;
        width: 229px;
        height: 200px;
        background: #FFF;
        box-shadow: 0 1px 1px rgba(0,0,0,.3);
        position: relative;
        padding: 17px 20px 20px;
        .content-default {
            .transition(all .6s);
            opacity: 1;
            .title {
                color: #37c666;
                font-size: 20px;
                font-weight: bold;
            }
            .country {
                font-weight: bold;
                margin-top: 10px;
                font-size: 14px;
            }
            .q {
                font-size: 12px;
            }
        }
        .content-hover {
            .transition(all .6s);
            opacity: 0;
            text-align: left;
            position: absolute;
            top: 12px;
            left: 20px;
            right: 20px;
            .title {
                color: #37c666;
                font-size: 15px;
                font-weight: bold;
            }
            p {
                font-size: 13px;
                color: #515151;
                line-height: 17px;
            }
        }
        .btn {
            background: #37c666;
            position: absolute;
            bottom: 20px;
            width: 189px;
            left: 20px;
            height: 46px;
            line-height: 40px;
            font-weight: bold;
            color: #FFF;
            font-size: 16px;
            display: block;
        }
        &:hover {
            .content-default {
                opacity: 0;
            }
            .content-hover {
                opacity: 1;
            }
        }
    }
}

//
// Karl
// --------------------------------------------------

@font-face {
  font-family: 'Gotham';
  src: url("static/sites/coperable/assets/fonts/GothamRounded/GothamRounded-Light.otf");
  //src: url('GraublauWeb.eot?') format('eot'), url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("static/sites/coperable/assets/fonts/GothamRounded/GothamRounded-Medium.otf");
  //src: url('GraublauWeb.eot?') format('eot'), url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


.container-intro {
	width: 100%;
	height: 200px;
	background: @brand-fondo;
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png); /* fallback */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png), -webkit-gradient(linear, left bottom, right top, from(@brand-fondo), to(#FFF)); /* Saf4+, Chrome */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png), -webkit-linear-gradient(to top rigth, @brand-fondo, @brand-fondo, #FFF); /* Chrome 10+, Saf5.1+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),    -moz-linear-gradient(to top right, @brand-fondo, @brand-fondo, #FFF); /* FF3.6+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),      -o-linear-gradient(top right, @brand-fondo, @brand-fondo, #FFF); /* Opera 11.10+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),         linear-gradient(to top right, @brand-fondo, @brand-fondo, #FFF); /* W3C */

	table {
	   margin-left:auto; 
	   margin-right:auto;
		position: relative;
		width: 80%;
		margin-top: 10px;
		
		.td-logo { width: 5%; }
		.td-titulo { width: 45%; }
		.td-descripcion { width: 30%; text-align: left; font-family:@info-font-family; color:#063a23; }
		
		h1 { font-family: @titulos-font-family; color: #063a23; }
		
		h3 { font-family: @titulos-font-family; color:#0aa55e; }
	}
}


.container-info{
	width: 100%;
	
	table {
	   margin-left:auto; 
	   margin-right:auto;
		position: relative;
		width: 80%;
		margin-top: 10px;
		
		td { padding:10px }
		
		.td-tit { width: 45%; text-align: right;}
		.td-img { width: 10%; }
		.td-desc { width: 40%; text-align: left; font-family:@info-font-family;  }
		
		h1 { font-family: @titulos-font-family; }
		
		h3 { font-family: @titulos-font-family; }
	}
}

.section-cta-principal {
	background-color: @brand-principal;
	color: @brand-fondo;
	//border-bottom: 15px solid @brand-fondo;
	z-index:3000; 
}

.section-cta-fondo {
	background-color: @brand-fondo;
	color: @brand-fondo-osc;
}





.categorias {
	background-color: @brand-fondo;
	font-family: @info-font-family;
	color: @brand-principal;box-shadow: 0px 2px 3px #808080;
	position: relative;
	z-index: 200;
	//margin-top: -25px;
	
	table {
	   margin-left:auto; 
	   margin-right:auto;
	   padding-bottom: 10px;
	}
	
	td {
		padding: 10px 20px 20px 20px;
	}
}

.section-map-home {
	padding: 0px 0 80px 0;	
	background-color: @brand-fondo;
}

.map-container {
	width: 100%;
	max-height: 80%;
}


.container-nav{
	width: 90%;
}

.owned_map {
	height:615px;
}


//PANEL INFORMATIVO

.cd-panel {
	/*...*/
  	visibility: hidden;
	transition: visibility 0s 0.6s;
	z-index: 1001;
}
 
.cd-panel.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}
 
.cd-panel-header {
	/*...*/
	position: fixed;
	top: -50px;
	width: 90%;
	height: 50px;
	transition: top 0.3s 0s;
}
 
.is-visible .cd-panel-header {
	top: 0;
	transition: top 0.3s 0.3s;
}
 
.cd-panel-container {
	/*...*/
	position: fixed;
	width: 90%;
	height: 100%;
	top: 0;
	right: 0;
 
	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
 
 	transform: translate3d(100%, 0, 0);
}
 
.is-visible .cd-panel-container {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @titulos-font-family;
}

.bandera {
	height: 120px;
    background-image: url("http://coperable.coperable.org/static/sites/coperable/images/cop-bandera.png");
    background-repeat: repeat-x;
}






/* -------------------------------- 

PANEL LATERAL

-------------------------------- */


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}
/*
body {
  font-size: 100%;
  font-family: "Droid Sans", sans-serif;
  color: #dbe2e9;
  background: #424f5c;
}

a {
  color: #89ba2c;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */

/*
html, body {
  height: 100%;
}
*/

/*
.cd-main-content {
  text-align: center;
}
.cd-main-content h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #64788c;
  padding: 4em 0;
}

@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

*/

.no-touch .cd-main-content .cd-btn:hover {
  //box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.cd-main-content .cd-btn {
  //position: relative;
  display: inline-block;
  background-color: rgba(6, 58, 35, 0.4);
  //padding: 1em 2em;
  //background-color: #89ba2c;
  //color: #ffffff;
  //font-weight: bold;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  //-webkit-transition: all 0.2s;
  //-moz-transition: all 0.2s;
  //transition: all 0.2s;
  
  
	position: fixed;right: 0px;
	bottom: 35%;
	border-radius: 1em 0em 0em 1em;
	z-index: 1000;
	
	img {
		width: 100px;
	}
}


.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  
  background-color: rgba(2,0,0,0.6);
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  //background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  //font-weight: bold;
  color: @brand-principal-osc;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}





.container-intro {
	width: 100%;
	height: 200px;
	

	table {
	   margin-left:auto; 
	   margin-right:auto;
		position: relative;
		width: 80%;
		margin-top: 10px;
		
		.td-logo { width: 5%; }
		.td-titulo { width: 45%; }
		.td-descripcion { width: 30%; text-align: left; font-family:@info-font-family; color:#063a23; }
	}
}



.cd-panel-content {
  position: absolute;
  padding: 70px 5%; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
  
  
	background: @brand-fondo;
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png); /* fallback */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png), -webkit-gradient(linear, left bottom, right top, from(@brand-fondo), to(#FFF)); /* Saf4+, Chrome */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png), -webkit-linear-gradient(to top rigth, @brand-fondo, @brand-fondo, #FFF); /* Chrome 10+, Saf5.1+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),    -moz-linear-gradient(to top right, @brand-fondo, @brand-fondo, #FFF); /* FF3.6+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),      -o-linear-gradient(top right, @brand-fondo, @brand-fondo, #FFF); /* Opera 11.10+ */
	background-image: url(/static/sites/coperable/images/patronTriangulos-gris.png),         linear-gradient(to top right, @brand-fondo, @brand-fondo, #FFF); /* W3C */
	
	h1 { 
		font-family: @titulos-font-family; 
		color: #063a23; 
  	}
		
	h3 { 
		font-family: @titulos-font-family; 
		color:#0aa55e;		
	}
	
	p { 
		text-align: left; 
		font-family:@info-font-family; 
		color:#063a23; 
  		margin: 2em 0;
	}
	
	.diagrama-intro {
		background-color: #f3eed2;		
  		margin-left: -70px;
		margin-right: -70px;
		
		img {
			width: 47%;			
  			padding: 30px 30px 30px 70px;		
		}
	}
	
	.boton {
		  -webkit-border-radius: 7;
		  -moz-border-radius: 7;
		  border-radius: 7px;
		  -webkit-box-shadow: 0px 1px 3px #666666;
		  -moz-box-shadow: 0px 1px 3px #666666;
		  box-shadow: 0px 1px 3px #666666;
		  font-family: @titulos-font-family;
		  color: #f6e9a8;
		  font-size: 20px;
		  background: #e7a020;
		  padding: 12px 20px 10px 20px;
		  text-decoration: none;

		   &:hover {
		   	background: #063a23;
		   	text-decoration: none;
			}
		}  
}

.boton-organiza {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: @titulos-font-family;
    color: #063a23;
    background: #e7a020;
    text-decoration: none;

    &:hover {
        background: #063a23;
        text-decoration: none;
    }
}  




.cd-panel-content p {
  //font-size: 14px;
  //font-size: 0.875rem;
  //color: #424f5c;
  //line-height: 1.4;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    //font-size: 1rem;
    line-height: 1.6;
  }
}


