@gray-darker:             #4b494f;

@brand-success:           #95b849;
@brand-warning:           #e5b742;
@brand-danger:            #f15f4c;
@brand-info:              #666666;
@brand-primary:           #ee3f22;
@brand-secondary:         #E7A01F;
@brand-third:             #b6c731;

@brand-principal:         #0aa55e;
@brand-principal-osc:     #063a23;
@brand-fondo: 				  #f4e69d;
@brand-fondo-osc:         #e7a020;

@text-color:              #693a00;
@link-color:              @gray-darker;

@btn-default-color:       #fff;
@btn-default-bg:          #01bce4;

@font-family-sans-serif:  'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       'Roboto Slab', Georgia, "Times New Roman", Times, serif;

@headings-font-family:    @font-family-serif;
@headings-line-height:    1.2;

@titulos-font-family:     'Gotham Medium', "Gotham Rounded Medium", Gotham, Arial, sans-serif;
@info-font-family:        'Gotham', "Gotham Rounded", Gotham, Arial, sans-serif;

// Point at which the navbar becomes uncollapsed
@grid-float-breakpoint:     @screen-md-min;
// Point at which the navbar begins collapsing
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
