<div class="page-heading">
	<h1 class="pagetitle">Comunidades</h1>
	<p class="pageleadtext">
		Este es un texto que describe las zonas. Este es un texto que describe las zonas. 
		Este es un texto que describe las zonas. Este es un texto que describe las zonas. 
		Este es un texto que describe las zonas. Este es un texto que describe las zonas. 
		Este es un texto que describe las zonas. Este es un texto que describe las zonas. 
		Este es un texto que describe las zonas. Este es un texto que describe las zonas. 
	</p>
</div>
<ul class="tiles-list">
	<li>
		<div class="content-default">
			<div class="title">Permacultura</div>
			<div class="country">Latinoamérica</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Permacultura</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Centros Culturales Autogestionados</div>
			<div class="country">Argentina</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Centros Culturales Autogestionados</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Permacultura</div>
			<div class="country">Latinoamérica</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Permacultura</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Economía Colaborativa</div>
			<div class="country">Sudamérica</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Economía Colaborativa</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Telartes</div>
			<div class="country">Bolivia</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Telartes</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Slams de Poesía</div>
			<div class="country">Argentina</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Slams de Poesía</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Voluntariado</div>
			<div class="country">Argentina</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Voluntariado</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
	<li>
		<div class="content-default">
			<div class="title">Red de Festivales Culturales</div>
			<div class="country">Brasil</div>
			<div class="q"><span class="num">120</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">Red de Festivales Culturales</div>
			<p>Éste es el texto que aparece cuando haces mouse over en el bloque de iniciativa. Describe brevemente la comunidad en cuestión.</p>
		</div>
		<a href="#" class="btn">Ver iniciativas</a>
	</li>
</ul>