<div class="page-heading">
	<h1 class="pagetitle">Comunidades</h1>
	<p class="pageleadtext">
		Las comunidades funciones como Redes de afinidad para unir iniciativas, organizadores y participantes. El objetivo es generar un espacio común, potenciando su difusión, visibilizando sus iniciativas en el territorio y aumentando la participación. Si sos parte de una Red que podría ser activada por Coperable, escribinos: <a href="mailto:hole@coperable.org">hole@coperable.org</a>
	</p>
</div>
<ul class="tiles-list">
  {{#comunidades}}
	<li>
		<div class="content-default">
			<div class="title">{{name}}</div>
			<div class="country">{{country}}</div>
			<div class="q"><span class="num">{{iniciativas_amount}}</span> iniciativas</div>
		</div>
		<div class="content-hover">
			<div class="title">{{name}}</div>
			<p>{{description}}</p>
		</div>
		<a href="/comunidades/{{_id}}" class="btn">Ver iniciativas</a>
	</li>
  {{/comunidades}}
</ul>
