<div id="community">
	<div class="first_field">
		<h1>
			{{comunidad.name}}
		</h1>
		<p class="description">
            {{comunidad.description}}
		</p>
		<div class="moderators">
			Moderadores: {{#moderators}} <a href="#{{user}}">{{user}}</a> {{/moderators}}
		</div>
	</div>
	
	<div class="filters-default" data-target="#communityLists">
		<ul class="pull-left">
			<li class="iniciativas-bt selected">Iniciativas</li>
			<li class="organizadores-bt">Organizadores</li>
		</ul>
		<ul class="pull-right">
			<li class="selected grid-bt">Grilla</li>
			<li class="map-bt">Mapa</li>
		</ul>
	</div>
	<div class="lists-wrapper" id="communityLists">
		<ul class="list iniciativas-ul">
            {{#iniciativas}}
		    <li class="initiative sm">
				<div data-category="{{main_category}}" class="comunidad-list-item initiative_date comunidad initiative-item">
					<div data-label="{{from_date}}" class="pic">
						<a rel="address:/iniciativa" href="/iniciativas/{{_id}}">
							<img width="100%" data-src="/static/uploads/thumbs/{{profile_picture}}" class="replace-src" src="/static/uploads/thumbs/{{profile_picture}}">
						</a>
					</div>
					<div class="wrapper">
						<a rel="address:/iniciativa" href="/iniciativas/{{_id}}">
							<h4>{{name}}</h4>
						</a>
                        <div class="place" data-icon="">{{address}}</div>
                        <div class="schedule" data-icon="">{{start_date_f}}hs</div>
						<!--p>{{{description}}}</p-->
					</div>
					<div class="bottom">

                        <div class="wrapper">
                            <ul class="status {{current_stage}}">
                                <li>Preparación <div class="icon"></div></li>
                                <li>Activando<div class="icon"></div></li>
                                <li>Finalizada<div class="icon"></div></li>
                            </ul>
                        </div>
						<div class="actions wrapper">
							<a class="button green" rel="address:/iniciativa" href="/iniciativas/{{_id}}">Ver</a>
							<div class="text">{{members.length}} participando</div>
                            <div class="owner place">
                                <a href="/user/{{owner.user}}">
                                    {{owner.name}}
                                </a>
                            </div>
						</div>
					</div>
				</div>
			</li>

<!--
  <div data-category="<%= main_category %>" class="initiative initiative-item">
    <div data-label="<%= main_category %>" class="pic">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <img class="replace-src" data-src="/static/uploads/thumbs/<%= profile_picture %>" width="100%"/>
      </a>
    </div>
    <div class="wrapper">
      <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa">
        <h4><%= name %></h4>
      </a>
      <div class="place" data-icon=""><%= address %></div>
      <div class="schedule" data-icon=""><%= date_f %></div>
    </div>
    <div class="bottom">
      <div class="wrapper">
        <ul class="status <%= current_stage %>">
          <li>Preparación <div class="icon"></div></li>
          <li>Activando<div class="icon"></div></li>
          <li>Finalizada<div class="icon"></div></li>
        </ul>
      </div>
      <div class="actions wrapper">
        <% if(current_stage == 'ACTIVO') { %>
            <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa" class="button red">Participá&nbsp;&nbsp;&nbsp;HOY!</a>
        <% } else { %>
            <a href="/iniciativas/<%= _id %>" rel="address:/iniciativa" class="button green">Participá</a>
        <% } %>
        <div class="text"><%= members.length %></div>
      </div>
    </div>
  </div>
</div>

-->





            {{/iniciativas}}
		</ul>

		<ul class="list organizadores-ul" style="display:none">
            {{#members}}
		    <li class="initiative sm user">
				<div class="initiative initiative-item">
					<div class="pic">
						<a rel="address:/iniciativa" href="/user/{{_id}}">
							<img width="100%" data-src="/static/uploads/thumbs/{{picture}}" class="replace-src" src="/static/uploads/thumbs/{{picture}}">
						</a>
					</div>
					<div class="wrapper">
						<a rel="address:/user" href="/user/{{_id}}">
							<h4>{{first_name}} {{last_name}}</h4>
						</a>
						<p>{{about}}</p>
					</div>
				</div>
			</li>
            {{/members}}
		</ul>
	</div>
	<div class="map-wrapper" id="communityMap" style="display:hidden">

	</div>



</div>

<script type='text/javascript' src='/static/js/comunidades.js'></script>
<script>
  $(function(){
    list_manager = new comunidad.ListManager({
      el: $('#community')
    });
  });
</script>

