<section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background: url(/static/sites/minka/images/bg-4.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
            <div class="item" style="background: url(/static/sites/minka/images/bg-9.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
            <div class="item" style="background: url(/static/sites/minka/images/bg-6.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

        <section class="section section-center section-cta">
          <div class="container">
            <h2 class="section-title"><span>Listo para compartir?</span></h2>
            <p>Del 11 al 17 de mayo, ciudades de todo el mundo celebrarán la Semana de la economía colaborativa: siete días para celebrar, practicar y difundir la cultura del compartir</p>
            <div class="main-action row">
              <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4"><a ng-href="/iniciativa/edit" class="smooth-scroll btn btn-lg btn-block btn-danger" ng-show="is_logged()">Mapea Tu Actividad!</a></div>
              <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4"><span ng-click="show_login()" class="smooth-scroll btn btn-lg btn-block btn-danger" ng-show="!is_logged() && !login_form_show">Mapea Tu Actividad!</span></div>

                
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" ng-show="login_form_show">
                    <div class="row text-center">
                        <h3>Ingresa con tu red social</h3>
                    </div>
                    <div class="row text-center">
                        <a href="/auth/facebook" target="_self" class="btn btn-default col-md-4 col-md-offset-1"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="/auth/twitter" target="_self" class="btn btn-primary col-md-4 col-md-offset-2"><i class="fa fa-2x fa-twitter"></i></a>
                    </div>
                </div>

              <!--div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2"><a ng-href="/iniciativa/edit" class="smooth-scroll btn btn-lg btn-block btn-danger">Mapea Tu Actividad!</a></div>
              <div class="col-md-3 col-sm-4"><a ng-href="/iniciativas" class="smooth-scroll btn btn-lg btn-block btn-default">Participa!</a></div-->
            </div>
          </div>
        </section>

        <!--section id="mapa" class="section section-center section-hilite section-mapa">
            <div class="container">
                <h2 class="section-title"><span>Lugares</span></h2>
                <div class="row" style="height:400px;">
                    <div id="map_canvas" style="width:100%; height:100%"></div>
                </div>
            </div>
        </section-->

        <!--section id="agenda" class="section section-agenda">
          <div class="container">
            <h2 class="section-title"><span>Agenda</span></h2>
            <ul id="filters">
              <li><a href="#" data-filter="*">All</a></li>
              <li>/</li>
              <li><a href="#" data-filter=".web">Web Design</a></li>
              <li>/</li>
              <li><a href="#" data-filter=".graphic">Graphic Design</a></li>
              <li>/</li>
              <li><a href="#" data-filter=".photography">Photography</a></li>
              <li>/</li>
              <li><a href="#" data-filter=".motion">Motion Graphics</a></li>
              <li>/</li>
              <li><a href="#" data-filter=".branding">Branding</a></li>
            </ul>

            <div class="agenda-isotope row">
              <article class="post col-md-3 col-sm-6 agenda-item motion graphic" ng-repeat="iniciativa in iniciativas">
                <div class="entry-thumbnail">
                  <a href="#" class="hover-effect" data-toggle="modal" data-target="#project-modal">
                    <img src="http://placehold.it/400x300" alt="" />
                    <span class="overlay"><i class="fa fa-plus"></i></span>
                  </a>
                </div>
              </article>
            </div>

          </div>
        </section-->

        <!-- Project Modal -->
        <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="project-modal-label">Project title</h4>
              </div>
              <div class="modal-body">
                <article class="single-project">
                  <div class="project-thumbnail">
                    <div id="project-thumbnail-carousel-1" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active"><img src="http://placehold.it/800x600" /></div>
                        <div class="item"><img src="http://placehold.it/800x600" /></div>
                        <div class="item"><img src="http://placehold.it/800x600" /></div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#project-thumbnail-carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#project-thumbnail-carousel-1" data-slide-to="1"></li>
                        <li data-target="#project-thumbnail-carousel-1" data-slide-to="2"></li>
                      </ol>
                      <a class="left carousel-control" href="#project-thumbnail-carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                      <a class="right carousel-control" href="#project-thumbnail-carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-block btn-primary">Launch Project</button>
                      <ul class="list-unstyled project-info">
                        <li><strong>Type</strong> <span class="pull-right">Web Design</span></li>
                        <li><strong>Client</strong> <span class="pull-right">Google</span></li>
                        <li><strong>Year</strong> <span class="pull-right">2014</span></li>
                      </ul>
                    </div>
                    <div class="col-md-8">
                      <p>Suspendisse varius nisl nunc. Aenean in dictum nibh. Nullam congue facilisis purus porta ullamcorper. Aenean in consequat sapien. Cras orci augue, ultricies at luctus congue, dapibus sed magna. Vivamus consequat commodo pharetra. Maecenas sed tincidunt mi, quis accumsan nisi. Praesent ac porttitor massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in bibendum tellus, vitae imperdiet mauris.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>

          </div>
        </div>

        <!--section id="testimonials" class="section section-center section-hilite section-testimonial">
          <div class="container">
            <h2 class="section-title"><span>What our clients say?</span></h2>
            <i class="fa fa-quote-left fa-3x"></i>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                  </blockquote>
                </div>
              </div>

              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><img src="http://placehold.it/64x64" width="64" height="64" alt="" class="img-circle"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"><img src="http://placehold.it/64x64" width="64" height="64" alt="" class="img-circle"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"><img src="http://placehold.it/64x64" width="64" height="64" alt="" class="img-circle"></li>
              </ol>
            </div>

          </div>
        </section>

        <section id="blog" class="section section-blog">
          <div class="container">
            <h2 class="section-title"><span>Nuestro Blog</span></h2>
            <div class="row">
              <div class="col-md-6">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                      <a href="#" class="hover-effect">
                        <img src="http://placehold.it/165x165" alt="" />
                        <span class="overlay"><i class="fa fa-plus"></i></span>
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8">
                      <header class="entry-header">
                        <h2 class="entry-title"><a href="#">Sample blog title</a></h2>
                        <div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>
                      </header>
                      <div class="entry-content">
                        <p>Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.</p>
                        <a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-6">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                      <a href="#" class="hover-effect">
                        <img src="http://placehold.it/165x165" alt="" />
                        <span class="overlay"><i class="fa fa-plus"></i></span>
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8">
                      <header class="entry-header">
                        <h2 class="entry-title"><a href="#">Sample blog title</a></h2>
                        <div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>
                      </header>
                      <div class="entry-content">
                        <p>Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.</p>
                        <a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section-->
