<section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background: url(/static/sites/minka/images/bg-4.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
            <div class="item" style="background: url(/static/sites/minka/images/bg-9.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
            <div class="item" style="background: url(/static/sites/minka/images/bg-6.jpg);">
                <div class="container"><img src="/static/sites/minka/images/main-header-2.png" alt="Semana Economia Colaborativa"></div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

        <section class="section section-center section-cta">
          <div class="container">
            <h2 class="section-title"><span>Listo para compartir?</span></h2>
            <p>Del 11 al 17 de mayo, ciudades de todo el mundo celebrarán la Semana de la economía colaborativa: siete días para celebrar, practicar y difundir la cultura del compartir</p>
            <div class="main-action row">
              <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4"><a ng-href="/iniciativa/edit" class="smooth-scroll btn btn-lg btn-block btn-success" ng-show="is_logged()">Registra Tu Actividad!</a></div>
              <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4"><span ng-click="show_login()" class="smooth-scroll btn btn-lg btn-block btn-danger" ng-show="!is_logged() && !login_form_show">Registra Tu Actividad!</span></div>

                
            <div class="col-md-12 col-sm-12" ng-show="login_form_show">
                <div class="row text-center">
                    <h3>Para continuar debes...</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 form-login">
                        <h3>Ingresa con tus redes sociales</h3>
                        <div class="row">
                            <a href="/auth/facebook" target="_self" class="btn btn-default col-md-4 col-md-offset-1"><i class="fa fa-2x fa-facebook"></i></a>
                            <a href="/auth/twitter" target="_self" class="btn btn-primary col-md-4 col-md-offset-2"><i class="fa fa-2x fa-twitter"></i></a>
                        </div>
                        <div class="row">
                            <h3>O con tu usuario Coperable</h3>
                        </div>
                        <div class="row">
                            <form action="/user/login" method="post">
                                <div class="form-group">
                                    <input name="username" type="text" class="form-control" placeholder="Nombre Usuario" required>
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control" placeholder="Password"  required>
                                </div>
                                <button type="submit" class="btn btn-default">Ingresar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 form-signup">
                        <h3>O registrate</h3>
                        <form action="/user/signup" method="post">
                            <div class="row text-center">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <input name="email" type="text" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control" placeholder="Password" required >
                                </div>
                                <div class="form-group">
                                    <input name="repassword" type="password" class="form-control" placeholder="Repite Password" required >
                                </div>
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>


                </div>

            </div>
          </div>
        </section>

        <section id="mapa" class="section section-center section-hilite section-mapa">
            <div class="container">
                <h2 class="section-title"><span>Lugares</span></h2>
                <div class="row" style="height:500px;">
                    <div id="map_canvas" style="width:100%; height:100%"></div>
                </div>
            </div>
        </section>

        <section id="agenda" class="section section-agenda">
          <div class="container">
            <h2 class="section-title"><span>Agenda</span></h2>
            <div class="row">
                <div class="col-md-6 block-center">
                    <h4>Días</h4>
                    <ul id="filters" class="nav nav-pills">

                      <li><span href="#" ng-click="select_day('all')" class="selector">Cualquiera</span></li>
                      <li ng-repeat="day in day_filters" ng-class="{selected: day_active == day.time}"><span ng-click="select_day(day.time)" class="selector">{{day.time | moment: 'dddd D'}}</span></li>
                    </ul>
                </div>
                <div class="col-md-6 block-center" style="background-color:">
                    <h4 style="color: #EF4832">Países</h4>
                    <ul id="countries" class="nav nav-pills">

                      <li><span class="selector" ng-click="select_country('all')">Todos</span></li>
                      <li ng-repeat="country in countries" ng-class="{selected: country_key == country_active}" ><span class="selector" ng-click="select_country(country.key)">{{country.key}}</span></li>
                    </ul>
                </div>
            </div>


            <div class="agenda-isotope row">
              <article class="post col-md-3 col-sm-6 agenda-item {{hit._source.country | lowercase }} day{{hit._source.start_date | moment: 'DD'}} isotope-item" ng-repeat="hit in hits">
                <div class="entry-thumbnail">
                  <span href="#" class="hover-effect" ng-click="select(hit)" data-toggle="modal" data-target="#project-modal">
                    <img ng-if="hit._source.profile_picture" ng-src="/static/uploads/thumbs/{{hit._source.profile_picture}}" alt="" />
                    <img ng-if="!hit._source.profile_picture" ng-src="/static/uploads/thumbs/{{hit._source.profile_picture}}" alt="" />
                    <span class="overlay"><i class="fa fa-plus"></i></span>
                    <h4>{{hit._source.name}}</h4>
                  </span>
                </div>
              </article>
            </div>

          </div>
        </section>

        <!-- Project Modal -->
        <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="project-modal-label">{{selected.name}}</h4>
              </div>
              <div class="modal-body">
                <article class="single-project">
                  <div class="project-thumbnail">
                    <div id="project-thumbnail-carousel-1" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active"><img ng-src="/static/uploads/fullsize/{{selected.profile_picture}}" /></div>
                        <div class="item">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{selected.location.latitude}},{{selected.location.longitude}}&zoom=14&size=800x420&sensor=false&markers=color:red%7C{{selected.location.latitude}},{{selected.location.longitude}}" />
                        </div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#project-thumbnail-carousel-1" data-slide-to="0" class="active"></li>
                      </ol>
                      <span class="right carousel-control" href="#project-thumbnail-carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></span>
                      <span class="left carousel-control" href="#project-thumbnail-carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <!--span class="btn btn-block btn-primary">Participá</span-->
                      <ul class="list-unstyled project-info">
                        <li><strong>Fecha</strong> <span class="pull-right">{{selected.start_date | moment: 'dddd DD [de] MMMM LT'}}</span></li>
                        <li><strong>Ubicación</strong> <span class="pull-right">{{selected.address}}</span></li>
                        <li><strong>Organización</strong> <span class="pull-right">{{selected.organization}}</span></li>
                        <li ng-show="class_name()"><span ng-click="edit()" class="pull-left btn btn-default">Editar</span></li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <p>{{selected.description}}</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>

          </div>
        </div>

