                <section class="section section-center section-network">
                    <div class="container">
                        <h2 class="section-title"><span>Sobre Frontera</span></h2>
                        <p>
                        Frontera es una zona de intercambio colaborativo de información evidente. Refleja lo que hacemos a través de una agenda de producción colaborativa que concentra la oferta de residencias, programas de formación y actividades que trabajan en relación con su contexto cercano, que abordan de alguna u otra manera ámbitos por fuera del arte desde la práctica artística en cualquiera de las disciplinas conocidas y en desarrollo.
                        </p>
                    </div>
                </section>

                <section class="section section-center section-network">
                    <div class="container">
                        <h3 class="section-title"><b>1.0</b> / El estado inicial de la cuestión</h3>
                        <p>
                            Vamos a lanzar una plataforma el 30 de Noviembre. de facil uso, que se ordena en tres ejes:
                        </p>
                        <h4><b>1</b> - RESIDIR ES RESISTIR</h4>
                        <p>
                        Oferta de programas de residencia
                        </p>
                        <h4><b>2</b> - I+F / INVESTIGACION Y FORMACION</h4>
                        <p>
                        Oferta de programas de formación
                        <br/>Oferta y conformación de grupos de investigación
                        </p>
                        <h4><b>3</b> - ACCIÓN</h4>
                        <p>
                        Agenda de eventos que abordan desde el arte un diálogo crítico y constructivo sobre 
                        distintos escenarios / contextos / territorios.
                        </p>


                    </div>
                </section>

