<div id="initiativeSuccess">
	<div class="text-center">
		<img src="/static/img/success-icon.png" alt="" class="checkmark" />
	    <h3>¡Muy bueno! Creaste una nueva iniciativa.</h3>
	    <a class="link" href="http://coperable.org/iniciativas/{{iniciativa._id}}">http://coperable.org/iniciativas/{{iniciativa._id}}</a>
		<p class="small">
			Ahora a compartirla con tus amigos en las redes sociales. Invitando gente y dándola a conocer vas a convocar más participantes y sumar más energía social para tu proyecto.
		</p>
	</div>
</div>
