<div id="initiativeSuccess">
	<div class="text-center">
		<img src="/static/img/success-icon.png" alt="" class="checkmark" />
	    <h3>¡Muy bueno! Creaste tu primer iniciativa.</h3>

		<p class="medium">
			Como organizador, necesitamos que completes algunos datos.
		</p>

	</div>
</div>
<br/>
<div id="inciativa_editor" class="container">
	<form method="POST" action="/user/organizer/signup" class="form-vertical">
        <div class="control-group">
            <div class="content">
                <input class="input-large" id="organizer_name" name="organizer_name" type="text" placeholder="Nombre Organizador" required>
            </div>
        </div>
        <div class="control-group">
            <div class="content">
                <select name="organizer_type" class="input-large">
                    <option value="ONG">Ong</option>
                    <option value="EMPRESA">Empresa</option>
                    <option value="MOVIMIENTO">Movimiento</option>
                    <option value="PERSONA">Persona</option>
                    <option value="RED">Red</option>
                    <option value="ORGANIZACION">Organización Territorial</option>
                    <option value="ESPACIO_CULTURAL">Espacio Cultural</option>
                    <option value="ESPACIO_EDUCATIVO">Espacio Educativo</option>
                    <option value="CENTRO_COMUNITARIO">Centro Comunitario</option>
                    <option value="MEDIO_COMUNICACION">Medio de comunicación</option>
                    <option value="COLECTIVO">Colectivo</option>
                    <option value="ARTISTA">Artista</option>
                    <option value="TALLERISTAS">Talleristas</option>
                    <option value="OTRO">otro</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="content">
                <textarea id="description" name="organizer_description" placeholder="Acerca del Organizador" style="width:100%" rows="4"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="content">
                <label for="picture">Imagen Perfil</label>
                <div class="controls">
                    <input style="display:none;" id="profile_picture" type="file" name="files[]" multiple>
                      <div id="super-zone">
                          <div id="dropzone" class="dropzone-help-text">
                            <span class="text">Arrastra hasta aquí una<br>foto para la portada</span>
                            <span class="text-hover">¡Suéltala!</span>
                          </div>
                      </div>
                </div>
            </div>
        </div>



	    <a class="link" href="http://coperable.com.ar/iniciativas/{{iniciativa._id}}">
            <span class="btn">Actualizar!</span>
        </a>
		<!--button type="submit" class="btn">Actualizar!</button-->
	</form>
</div>


