
<div id="initiativePage">
  <div id="initiativeContent">
        <h1 class="title">{{iniciativa.name}}</h1>
        <div class="info">Por <a class="name" href="/user/{{iniciativa.owner.user}}">{{iniciativa.owner.name}}</a> en <a href="#" data-category="environment">{{iniciativa.main_category}}</a></div>
        <section role="main">
          <h3>Objetivo</h3>
            <div class="objective">{{iniciativa.goal}}</div>
            <div class="location" style="background-image: url('/static/uploads/fullsize/{{iniciativa.profile_picture}}') !important"/>
                
            </div>
            <div class="location">
              <div class="info">
                  <div>
                    <span class="when">{{iniciativa.start_date}}</span> - <span class="when">{{iniciativa.end_date}}</span>
                  </div>
                  <div class="where">{{iniciativa.address}}</div>
              </div>
            </div>

            <div class="cell tags-wrapper">
              <h3>Tareas</h3>
                <ul class="orange tags">
                  {{#iniciativa.tasks}}
                    <li>{{tag}}</li>
                  {{/iniciativa.tasks}}
                </ul>
            </div>

            <div class="cell description">
              <h3>Descripción</h3>
                
                  {{{iniciativa.description}}}
                
            </div>

            <!-- div class="cell comments">
              <h3>Comentarios</h3>
        <div class="fb-comments" data-href="http://example.com" data-width="630" data-num-posts="8"></div>
            </div -->
            
        </section>
    </div>
    <div id="initiativeSidebar">
        <div class="wrapper">
            <ul class="status {{iniciativa.current_stage}}">
              <li>Convocatoria <div class="icon"></div></li>
              <li>Activando<div class="icon"></div></li>
              <li>Finalizada<div class="icon"></div></li>
            </ul>
            <div class="participants">
              <div class="info">
                  <span class="num">{{iniciativa.members.length}}</span> Participantes<br />
                    <b>de <span class="total">{{iniciativa.participants_amount}}</span></b>
                </div>
                <ul class="users-list-sq">
                  {{#members}}
                    <li><img src="{{members.picture_thumb}}" /></li>
                  {{/members}}
                </ul>
                {{#user}}
                  {{#isOwner}}
                    <a class="green button big block participar" href="#">
                      Editar
                    </a>
                  {{/isOwner}}
                  {{^isOwner}}
                    {{#isMember}}
                      <form method="POST" action="/api/iniciativas/{{iniciativa._id}}/{{user.id}}/quit">
                        <input type="submit" class="green button big block participar" value="Dejar de Participar"/>
                      </form>
                    {{/isMember}}
                    {{^isMember}}
                      <form method="POST" action="/api/iniciativas/{{iniciativa._id}}/{{user.id}}">
                        <input type="submit" class="green button big block participar" value="Participá"/>
                      </form>
                    {{/isMember}}
                  {{/isOwner}}
                {{/user}}
                {{^user}}
                  <a class="green button big block participar" href="/user/login?returnURL=/iniciativas/{{iniciativa._id}}">
                    Ingresá para participar
                  </a>
                {{/user}}
                <style type="text/css">
                  .button.green {
                    border: none;
                    width: 100%;
                  }
                  .participar {
                    -webkit-transition: background-color 0.3s linear;
                    -moz-transition: background-color 0.3s linear;
                    -o-transition: background-color 0.3s linear;
                    -ms-transition: background-color 0.3s linear;
                    transition: background-color 0.3s linear;
                  }
                  .participar.participando {
                    background-color: #C32C2C;
                  }
                </style>
                <script type="text/javascript">
                  $(function(){
                    var $btn = $('.participar')
                    $btn.on('click', function(){ $btn.toggleClass('participando') })
                    var momento = moment($('.when').html()).lang('es');
                    $('.when').html(momento.format('DD MMMM YYYY, HH:mm'));
                  })
                </script>
            </div>
            {{#iniciativa.networks}}
            <div class="cell">
                <h4>Seguinos</h4>
                {{#iniciativa.networks.twitter}}
                  <a href="http://twitter.com/{{iniciativa.networks.twitter}}" class="twitter-btn"></a>
                {{/iniciativa.networks.twitter}}
                {{#iniciativa.networks.facebook}}
                  <a href="http://facebook.com/{{iniciativa.networks.facebook}}" class="facebook-btn"></a>
                {{/iniciativa.networks.facebook}}
                {{#iniciativa.networks.youtube}}
                  <a href="http://youtube.com/{{iniciativa.networks.youtube}}" class="youtube-btn"></a>
                {{/iniciativa.networks.youtube}}
                {{#iniciativa.networks.flickr}}
                  <a href="http://flickr.com/{{iniciativa.networks.flickr}}" class="flickr-btn"></a>
                {{/iniciativa.networks.flickr}}
                {{#iniciativa.networks.linkedin}}
                  <a href="http://linkedin.com/{{iniciativa.networks.linkedin}}" class="linkedin-btn"></a>
                {{/iniciativa.networks.linkedin}}
                {{#iniciativa.networks.delicious}}
                  <a href="http://delicious.com/{{iniciativa.networks.delicious}}" class="delicious-btn"></a>
                {{/iniciativa.networks.delicious}}
            </div>
            {{/iniciativa.networks}}
            <div class="cell">
              <h4>Difundir</h4>
              <div class="clearfix">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
              </div>
            </div>
        </div>
        <div class="wrapper about">
          <div class="title">Sobre el organizador</div>
            <div class="info">
                {{#iniciativa.owner.picture_thumb}}
                  <img src="{{iniciativa.owner.picture_thumb}}" />
                {{/iniciativa.owner.picture_thumb}}
                <a href="/user/{{iniciativa.owner.user}}" class="name">{{iniciativa.owner.name}}</a>
                <div class="place">{{user.location}}</div>
            </div>
            <div class="description">
                {{owner.about}}
            </div>
            <div class="other">
              <div class="title">Otras iniciativas de {{owner.username}}</div>
                {{#owner.ownedIniciativas}}
                  <div class="pic">
                      <div class="name">{{name}}</div>
                      <img src="{{profile_picture}}" />
                  </div>
                {{/owner.ownedIniciativas}}
            </div>
        </div>
        <a class="report-initiative" href="#"><i class="icon-warning-sign"></i> Denunciar iniciativa</a>
    </div>
</div>
<div id="fb-root"></div>
